//
// @font-face's declaration here
//
@font-face {
  font-family: 'PT Sans';
  src: url('@{public}fonts/PTSans/PTSans-Regular.eot?#iefix') format('embedded-opentype'),  
  	   url('@{public}fonts/PTSans/PTSans-Regular.woff') format('woff'), 
  	   url('@{public}fonts/PTSans/PTSans-Regular.ttf')  format('truetype'), 
  	   url('@{public}fonts/PTSans/PTSans-Regular.svg#PTSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url('@{public}fonts/PTSans/PTSans-Italic.eot?#iefix') format('embedded-opentype'),  
  	   url('@{public}fonts/PTSans/PTSans-Italic.woff') format('woff'), 
  	   url('@{public}fonts/PTSans/PTSans-Italic.ttf')  format('truetype'), 
  	   url('@{public}fonts/PTSans/PTSans-Italic.svg#PTSans-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'PT Sans';
  src: url('@{public}fonts/PTSans/PTSans-Bold.eot?#iefix') format('embedded-opentype'),  
  	   url('@{public}fonts/PTSans/PTSans-Bold.woff') format('woff'), 
  	   url('@{public}fonts/PTSans/PTSans-Bold.ttf')  format('truetype'), 
  	   url('@{public}fonts/PTSans/PTSans-Bold.svg#PTSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url('@{public}fonts/PTSans/PTSans-BoldItalic.eot?#iefix') format('embedded-opentype'),  
  	   url('@{public}fonts/PTSans/PTSans-BoldItalic.woff') format('woff'), 
  	   url('@{public}fonts/PTSans/PTSans-BoldItalic.ttf')  format('truetype'), 
  	   url('@{public}fonts/PTSans/PTSans-BoldItalic.svg#PTSans-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('@{public}fonts/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),  
  	   url('@{public}fonts/Roboto/Roboto-Medium.woff') format('woff'), 
  	   url('@{public}fonts/Roboto/Roboto-Medium.ttf')  format('truetype'), 
  	   url('@{public}fonts/Roboto/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('@{public}fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),  
  	   url('@{public}fonts/Roboto/Roboto-Bold.woff') format('woff'), 
  	   url('@{public}fonts/Roboto/Roboto-Bold.ttf')  format('truetype'), 
  	   url('@{public}fonts/Roboto/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

