body .footer {
    .wrapper();
    padding-top : 30px;
    padding-bottom : 30px;
    font-family : 'PT Sans', sans-serif;


    &__col {
    	lost-column : 1/3 3 20px;

    	&:last-child {
    		padding-left : 87px;
    	}
    }

    &__title {
    	font-size : 14px;
    	font-weight : bold;
    	color : @blue-dark;
    	text-transform : uppercase;
    	margin-bottom : 8px;
    }

    &__p {
    	font-size : 14px;
    	line-height : 18px;

    	color : @black;
    	&--blue {
    		color : @blue-dark;
    	}
    }

    &__social {
    	span { 
    		font-weight : bold;
    		display : block;
    		font-size : 13px;
    	}
    }
    &__social-link {
    	width : 22px;
    	height : 22px;
    	display : inline-block;
    	padding-bottom : 4px;

    	&--fb { background : url("@{public}images/social-fb.png"); }
    	&--in { background : url("@{public}images/social-in.png"); }
    	&--p { background : url("@{public}images/social-p.png"); }
    	&--vk { background : url("@{public}images/social-vk.png"); }
    }

	&__menu {
		margin-bottom : 30px;
	}
	&__link {
    	font-size : 13px;
    	font-weight : bold;
    	text-transform : uppercase;
		display : block;
		padding-bottom : 6px;

        .normal-link();
		&, &:hover, &:active, &:visited {
    		color : @blue-dark;
		}
	}
	&__bilingo {}
} 
