.layout-L3 {
	.wrapper();
	padding-top : 20px;
	
	&__col {
		float : left;
		
		&--col1 {
			width : 240px;
			margin-right : 20px;
		}
		&--col2 {
			width : 500px;
			margin-right : 20px;
		}
		&--col3 {
			width : 240px;
		}
	}
}

.layout-L2 {
	.wrapper();
	padding-top : 20px;
	
	&__col {
		float : left;
		
		&--col1 {
			width : 760px;
			margin-right : 20px;
		}
		&--col2 {
			width : 240px;
		}
	}
}

.layout-L2B {
	.wrapper();
	padding-top : 20px;
	
	&__col {
		float : left;
		
		&--col1 {
			width : 240px;
			margin-right : 20px;
		}
		&--col2 {
			width : 760px;
		}
	}
}

.layout-L1 {
	.wrapper();
	padding-top : 20px;
}