.typography {

    font-family : 'PT Sans', sans-serif; // general font

    //
    // Заголовки
    //
    h1, .h1 {
        font-size : 20px;
        font-weight : bold;
        line-height : 24px;
        margin-top : 8px;
        margin-bottom : 20px;
        color : @black;
        a:hover & { color : @blue-dark; }
    }
    h2, .h2 {
        text-transform: uppercase;
        font-size : 16px;
        font-weight : bold;
        line-height : 20px;
        margin-top : 8px;
        margin-bottom : 20px;   
        color : @black;
        a:hover & { color : @blue-dark; }
    }
    h3, .h3 {
        font-size : 16px;
        font-weight : bold;
        line-height : 20px;
        margin-top : 0;
        margin-bottom : 16px;  
        color : @black;
        a:hover & { color : @blue-dark; }  
    }
    a.h3 { color : @black; margin-bottom : 0;}
    a.h3:hover { color : @blue-dark; text-decoration: underline; }

    //
    // Ссылки
    //
    a { color : @link-color-main; }
    a:hover { color : @link-color-main; }
    a:visited { color : @link-color-main; }
    a:active { color : @link-color-active; }
    a, a:visited, a:active { text-decoration: underline; }
    a:hover { text-decoration: none; }

    //
    // Абзацы
    //
    font-size : 16px;
    line-height : 20px;
    p { 
        color : @almostblack; 
        margin-top : 0; 
        margin-bottom : 20px;
        font-size: 16px;
        line-height : 20px;
    }
    p + h2, p + .h2 {
        margin-top : 36px;
    }

    //
    // Списки
    //

    ol, ul {
        margin : 30px 0 30px 0;
        padding : 0;
        list-style-type : none;
        li {
            margin-left : 30px;
            font-size : 16px;
            line-height : 20px;
            margin-bottom : 10px;
            position : relative;
            &:before {
                position : absolute;
                top : 4px;
                left : -20px;
            }
        }
    }
    ul {
        li { 
            &:before { 
                content : "";
                background : @blue-dark;
                width : 6px;
                height : 6px;
                display : inline-block;
                border-radius : 6px;
            }
        }
    }
    ol {
        counter-reset: ol-counter;
        li {
            &:before {
                top : 0;
                left : -22px;
                content: counter(ol-counter) '.';
                counter-increment: ol-counter;
                font-size : 16px;
                font-weight : bold;
                color : @blue-dark;
            }
        }
    }
    

    // Чистый бестилевый список
    ul.clean {
        .clean-ul-list();
    }

    //
    // Таблицы
    //
    table {
        th {
            height : 60px;
            background : @blue-dark;
            color : @white;
            padding : 20px;
            font-size : 12px;
            font-weight : bold;
            text-transform: uppercase;
            text-align: left;
            white-space : nowrap;
        }
        td {
            padding : 20px;
            border-bottom : 1px solid @gray-dark;
            font-size : 14px;
            color : @almostblack;
        }
        border-bottom : 2px solid @blue-dark;
        margin-bottom : 30px;
    }

    //
    // Цитаты
    //
    blockquote {
        font-size : 16px;
        font-weight : bold;
        font-style : italic;
        margin : 36px 0 20px 0;
    }

    //
    // Сноска
    //
    cite {}

    //
    // Формы
    //
    form {}
    .btn {}

    //
    // Typography utilities
    //
    .utility-text-left   { text-align : left !important; }
    .utility-text-center { text-align : center !important;  }
    .utility-text-right  { text-align : right !important; }

    .utility-float-left   { float : left !important; }
    .utility-float-center { float : center !important; }
    .utility-float-right  { float : right !important; }

    .utility-block { display: block !important; }
    .utility-inline { display: inline !important; }
    .utility-inline-block { display: inline-block !important; }

    .strong { font-weight : 700 !important; }
    .underline { text-decoration: underline !important; }
    .semistrong, strong.semi { font-weight : 500 !important; }
    .cursive { font-style : italic !important; }

} //.typography
