//
// Put global variables HERE :
//


//
// Path helper var
//
@public : '/build/';

//
// color vars
//
@black             : #000000;
@white             : #FFFFFF;
@transparent       : transparent;
@almostblack       : #222;

@gray-light : #d8d9d9;
@gray-lighter : #e2e2e2;
@gray-blue : #9ca3b6;
@gray-dark : #656666;
@gray-darker : #393939;
@gray-b : #b2b7c6;
@gray-c : #b0b0b0;
@gray-8 : #808080;

@blue-dark : #233771;
@blue-darker : #101d42;

@orange : #fc4c02;
@green : #8dc63f;
@green-light : #e2ffb8;
@purple : #6453a1;
@blue : #009ee3;
@blue-light : #9fe2ff;
@red : #ed2724;
@red-dark : #9e1816;

@link-color-main   : @blue-dark;
@link-color-active : @blue-darker;

//
// Main font size
//
@main_font_size : 14px;

//
// Adaptive configuration
//

@min_width : 1020px;

// media ranges
@media_small  : ~"screen and (max-width: @{min_width})";
@media_medium : ~"screen and (min-width: @{min_width+1}px) and (max-width: 1799px)";
@media_wide   : ~"screen and (min-width: 1800px)";

// shortcut for @media_small + @media_medium
@media_small_medium : ~"screen and (max-width: 1799px)";

// shortcut for @media_medium + @media_wide
@media_medium_wide : ~"screen and (min-width: @{min_width + 1})";


// list of media ranges
@media_queries          :   @media_small,     @media_medium,    @media_wide;
                        //     <1024,    	    1025-1799,	       >1800
// ... table of variables
