body .ad-single {
	position : relative;
	font-family : "PT Sans", sans-serif;

	&__grouphead {
		height : 30px;
		padding-left : 8px;
		line-height : 30px;
		color : @gray-dark;
		background : @gray-lighter;
		font-size : 14px;
		font-weight : bold;
		text-transform: uppercase;
		margin-top : 2px;
		position : relative;
		margin-bottom : 20px;
	}
	&__groupsubhead {
		position : absolute;
		top : 0;
		right : 8px;
		height : 30px;
		line-height : 30px;
		font-size : 12px;
		text-transform: uppercase;
		font-weight : normal;

		&, &:hover, &:visited, &:active { color : @gray-dark; }
	}
	&--no-subheader { 
		.ads__groupsubhead { display: none;}
	}

	&__body {
		margin-bottom : 30px;
	}

	&__date {
		color : #808080;
		font-size : 12px;
		line-height : 14px;
		margin-bottom : 4px;
	}
	&__title {
		display : block;
		font-size : 16px;
		font-weight: bold;
		line-height : 16px;
		margin-top : 2px;
		margin-bottom : 10px;
		.normal-link();
		&, &:hover, &:visited, &:active {
			color : @black;
		}
	}

	&__text {
		color : @almostblack;
		padding-bottom : 10px;
		&, p {
			font-size : 14px;
			line-height : 18px;
		}
	}
	&__read-more {
		font-size : 14px;
		line-height : 16px;
		&, &:hover, &:active, &:visited {
			color : @blue-dark;
			text-decoration: underline;
		}
		&:hover {
			text-decoration: none;
		}
	}


}