body .ads {
	position : relative;
	font-family : "PT Sans", sans-serif;
	
	&--full {
		border-top : 2px solid black;
		padding-top : 3px;
	}
	&__header {
		padding-left : 9px;
		height : 35px;
		line-height : 35px;
		color : @white;
		font-weight : bold;
		font-size : 14px;
		text-transform: uppercase;
		background : @green;
		margin-bottom : 20px;
		display : none;
	}
	&__controls {
		display : none;
		font-size : 0;
		margin-bottom : 40px;
	}
	&__controls-label {
		font-size : 14px;
		font-weight : bold;
		width : 173px;
		display : inline-block;
		text-align : left;
	}
	&__controls-select {
	    display: inline-block;
	    margin: 0;
	    font-size: 14px;
	    width: 240px;
	    &, &:focus, &:active { outline : none; }
	    border : 1px solid @gray-light;
	    border-radius : 4px;
	    background : @white;
	    height : 30px;
	    line-height : 28px;
	}
	.simpleselect {
	 	display: inline-block;
	 	box-sizing : border-box;
	    margin: 0;
	    font-size: 14px;
	    width: 240px;
	    &, &:focus, &:active { outline : none; }
	    border : 1px solid @gray-light;
	    border-radius : 4px;
	    background : @white;
	    height : 30px;
	    line-height : 28px;

	    .placeholder {
			padding: 0;
			height: 28px;
			display: block;
			line-height: 28px;
			border: none;
			padding-left: 10px;
			border-radius : 4px;

			&:after {
				content: url("/build/images/select-arrow.png");
				width: 7px;
				height: 6px;
				display: inline-block;
				position: absolute;
				right: 10px;
				background: none;
				top : 0px;
			}
	    }
		.options {
			box-sizing : border-box;
			width : 240px;
			border : 1px solid @gray-light;
			border-radius : 4px;
			margin-left : -1px;
			margin-top : -1px;

			.option {
				height : 26px;
				line-height : 26px;
				padding : 0;
				padding-left : 10px;
			}
		}
	}


	&__controls-btnbar {
		float : right;
		width : 310px;
		lost-utility : clearfix;
	}
	&__controls-btn {
		height : 30px;
		line-height : 28px;
		text-align: center;
		lost-column : 1/3 3 2px;
		background : @white;
		border : 1px solid @gray-light;
		border-radius : 3px;
		text-transform: uppercase;
		font-weight : bold;
		font-size : 14px;
		.normal-link();

		&--active {
			background : @blue-dark;
			&, &:hover, &:active, &:visited { color : @white; }
		}
	}
	&--full {
		.ads__header { display : block; }
		.ads__controls { display : block; }
	}


	&__feed {
		margin-top : 4px;
		margin-bottom : 60px;
	}
	&__group {
		margin-bottom : 8px;
	}
	&__grouphead {
		height : 30px;
		padding-left : 8px;
		line-height : 30px;
		color : @gray-dark;
		background : @gray-lighter;
		font-size : 14px;
		font-weight : bold;
		text-transform: uppercase;
		position : relative;
	}
	&__groupsubhead {
		position : absolute;
		top : 0;
		right : 8px;
		height : 30px;
		line-height : 30px;
		font-size : 12px;
		text-transform: uppercase;
		font-weight : normal;

		.normal-link();
		&, &:hover, &:visited, &:active { color : @gray-dark; }
	}
	&--no-subheader { 
		.ads__groupsubhead { display: none;}
	}
	
	&__list {
		lost-utility: clearfix;
		margin-top : 20px;
	}
	&__item {
		lost-column : 1/3 3 20px;
		margin-bottom : 16px;
		&:nth-child(3n+1) {
			clear : both;
		}
	}
	&__adtitle {
		display : block;
		font-weight : bold;
		font-size : 14px;
		margin-bottom : 8px;
		text-transform: uppercase;

		.normal-link();
		&, &:hover, &:visited, &:active { color : @black; }
	}

	&__adtext {
		color : @almostblack;
		padding-bottom : 10px;
		&, p {
			font-size : 14px;
			line-height : 18px;
		}

		&-ad {
			display : inline;
			&--hidden {
				display : none;
			}
		}
	}
	&__read-more {
		font-size : 14px;
		line-height : 14px;
		&, &:hover, &:active, &:visited {
			color : @blue-dark;
			text-decoration: underline;
		}
		&:hover {
			text-decoration: none;
		}
	}
}