body .all-companies {
	border-top : 2px solid black;
	padding-top : 3px;
	font-family : "PT Sans", sans-serif;

	&__header {
		padding-left : 9px;
		height : 35px;
		line-height : 35px;
		color : @white;
		font-weight : bold;
		font-size : 14px;
		text-transform: uppercase;
		background : @orange;
	}
	&__list {
		margin : 20px 10px 40px 10px;
	}
	&__item {
		margin-bottom : 30px;
	}
	&__wrapper {
		lost-utility : clearfix;
	}
	&__logo {
		width : 144px;
		height : 144px;
		border : 1px solid @gray-light;
		float : left;
		display : block;
		display : flex;
		justify-content: center;
		align-items : center;
	}

	&__title {
		display : block;
		padding-left : 164px;

		font-size : 14px;
		text-transform: uppercase;
		font-weight : bold;
		padding-bottom : 8px;

		.normal-link();
		&, &:hover, &:visited, &:active {
			color : @black;
		}
	}
	&__description {
		display : block;
		padding-left : 164px;
		font-size : 14px;
		line-height : 18px;
		color : @black;
		p {
			font-size : 14px;
			line-height : 18px;
			color : @black;
		}
	}

	&__pills {}

	&--wide {
		.all-companies__item {
			position : relative;
		}
		.all-companies__logo {
			width : 153px;
			height : 153px;
		}
		.all-companies__title {
			padding-left : 173px;
		}
		.all-companies__description {
			padding-left : 20px;
			padding-bottom : 0;
			max-height : 72px;
			overflow : hidden;
		}
		.all-companies__pills {
			width : 486px;
			position : absolute;
			bottom : 0;
			margin-bottom : 0;
			left : 173px;
		}
	}
}