body .archive {

	margin : 2px 0 60px 0;
	font-family : "PT Sans", sans-serif;

	&__group {
		margin-bottom : 20px;
		border-top : 2px solid black;
		&-header {
			padding-left : 8px;
			height : 35px;
			line-height : 35px;
			color : @white;
			font-weight : bold;
			font-size : 14px;
			text-transform: uppercase;
			background : @blue;
			margin-top : 4px;
		}
		&-text {
			color : @almostblack;
			padding-top : 20px;
			max-width : 760px;

			&, p {
				font-size : 14px;
				line-height : 18px;
			}
		}
		&-list {
			lost-utility : clearfix;
			margin-top : 20px;
		}
		&-item {
			lost-column : 1/4 4 20px;
			margin-bottom: 20px;
		}
	}

	&__image {
		max-width : 240px;
	}
	&__title {
		margin-top : 14px;
		margin-bottom: 10px;
		font-weight : bold;
		font-size : 16px;
		line-height : 18px;
		color : @black;
	}
	&__download {
		margin-top : 10px;
		padding-left : 34px;
		position : relative;
		&:before {
			content : url('@{public}images/pdf.png');
			width : 23px;
			height : 24px;
			position : absolute;
			left : 4px;
			top : 7px;
		}
		a {
			font-size : 14px;
			font-weight : bold;
			&, &:active, &:visited {
				text-decoration: none;
			}
			&:hover { text-decoration: underline; }
		}
		span {
			color : #656666;
			font-size : 12px;
			display : block;
		}
	}
}