body .breadcrumbs {
	.wrapper();
	margin-top : 20px;
	font-family : 'PT Sans', sans-serif;

	&__link {
		display : inline;
		font-size : 12px;
		font-weight: bold;

		.normal-link();

		&--inactive {
			&, &:hover, &:visited, &:active {
				color : @almostblack;
			}
			&:hover { text-decoration: none; }
		}
	}

	&__separator {
		color : @gray-blue;
		font-size : 12px;
		padding-left : 2px;
		padding-right : 2px;
	}
}