body .catalogue {
	border-top : 2px solid black;
	padding-top : 3px;
	padding-bottom : 40px;
	font-family : "PT Sans", sans-serif;

	&__header {
		padding-left : 8px;
		height : 35px;
		line-height : 35px;
		color : @white;
		font-weight : bold;
		font-size : 14px;
		text-transform: uppercase;
		background : @orange;
	}
	&__list {
		margin-top : 20px;
	}
	&__item {
		font-size : 16px;
		font-weight : bold;
		line-height : 18px;
		padding-top : 10px;
		padding-bottom : 10px;
		border-bottom : 1px solid @gray-light;
		padding-right : 40px;

		&:first-child {
			padding-top : 0;
		}
	}
	&__title {
		.normal-link();
		&, &:hover, &:active, &:visited { color : @black; }
	}
}