body .company-contacts {
	position : relative;
	font-family : 'PT Sans', sans-serif;

	&__header {
		margin-bottom : 20px;
	}
	&__logo {
		display : inline-block;
		padding-right : 30px;
		padding-left : 10px;
		vertical-align: top;
	}
	&__title {
		display : inline-block;
		font-size : 14px;
		font-weight : bold;
		text-transform: uppercase;
	}
	&__description {
		max-width : 588px;
		margin-top : 20px;
		margin-bottom : 12px;

		&, p {
			font-size : 14px;
			line-height : 18px;
			color : @almostblack;	
		}

		max-height : 55px;
		overflow : hidden;
		&.full {
			overflow : auto;
			max-height : none;
		}
		&--full {}
	}
	&__more {
		border-bottom : 1px dotted @almostblack;
		.normal-link();
		margin-top : 12px;
		margin-bottom : 30px;
		&:hover {
			text-decoration: none;
			border-bottom : none;
		}
	}
	&__activities {
		margin-top : 30px;
		margin-bottom : 30px;
	}
	&__activities-title {
		font-size : 14px;
		text-transform: uppercase;
		line-height : 14px;
		font-weight : bold;
		margin-bottom: 12px;
	}
	&__activity-wrapper {
		color : @blue-dark;
	}
	&__activity {
		.normal-link();

		font-size : 14px;
		line-height : 18px;
		text-transform: uppercase;
		display : inline-block;
		margin-right : 6px;
		margin-left : 6px;
		&:first-child {
			margin-left : 0;
		}
	}

	&__divider {
		margin-top : 30px;
		margin-bottom : 30px;
		background : @black;
		height : 2px;
	}
	&__map {
		margin-top : 30px;
	}
	&__pills {
		position : absolute;
		top : 0;
		right : 0;
	}
}

.map {
	&__header {
		margin-top : 30px;
		margin-bottom : 26px;
		font-size : 14px;
		color : @almostblack;
		line-height : 14px;
		text-transform: uppercase;
		font-weight : bold;
	}
	&__grid {
		margin-top : 26px;
		lost-utility : clearfix;
		margin-bottom : 40px;
	}
	&__block {
		lost-column : 1/2 2 30px;
		&--phone {}
		&--email {}
		&--address {}
		&--website {}

		margin-bottom : 20px;
	}
	&__label {
		font-size : 10px;
		line-height : 10px;
		padding-bottom : 3px;
		text-transform: uppercase;
		color : @gray-dark;
	}
	
	&__value {
		font-size : 14px;
		color : @almostblack;
		line-height : 16px;

		a {
			&, &:visited, &:active {
				text-decoration: underline;
			}
			&:hover {
				text-decoration: none;
			}
		}
	}

	&__map {
		margin-top : 40px;
		width : 100%;
		height : 480px;
		margin-bottom : 40px;
	}
}