body .company-news {
	position : relative;
	font-family : 'PT Sans', sans-serif;

	&__header {
		margin-bottom : 20px;
		margin-top : 20px;
		lost-utility : clearfix;
		padding-bottom : 20px;
		border-bottom : 2px solid @black;
		position : relative;
	}
	&__logo {
		display : inline-block;
		vertical-align: top;
		width : 100px;
		height : 100px;
		display : flex;
		align-items: center;
		justify-content: center;
		border : 1px solid @gray-light;
		img {
			max-width : 80%;
			max-height : 80%;
		}
		float : left;
	}
	&__title {
		display : block;
		font-size : 14px;
		font-weight : bold;
		text-transform: uppercase;
		color : @black;
		padding-left : 120px;
	}
	&__category {
		display : block;
		font-size : 12px;
		text-transform: uppercase;
		color : @gray-dark;
		padding-left : 120px;
		min-height : 30px;

		a {
			.normal-link();
			&, &:hover, &:visited, &:active {
				color : @gray-dark;
			}
		}
	}
	&__pills {
		margin-left : 120px;
		width : 640px;
		margin-top : 20px;
		margin-bottom : 0;
	}
}