body .company-of-week {
	border-top : 2px solid black;
	padding-top : 3px;
	padding-bottom : 40px;
	font-family : "PT Sans", sans-serif;

	&__header {
		padding-left : 8px;
		height : 35px;
		line-height : 35px;
		color : @white;
		font-weight : bold;
		font-size : 14px;
		text-transform: uppercase;
		background : @orange;
	}

	&__logo {
		border : 1px solid @gray-light;
		width : 240px;
		height : 120px;
		display : flex;
		justify-content: center;
		align-items : center;
		margin-top : 20px;
		margin-bottom : 20px;
	}
	&__title {
		.normal-link();
		&, &:hover, &:active, &:visited {
			color : @black;
		}
		
		text-transform: uppercase;
		padding-bottom : 12px;
		font-weight : bold;
		font-size : 14px;
		display : block;
	}
	&__text {
		font-size : 14px;
		line-height : 18px;
		color : @gray-darker;
	}
}