body .expo {
	border : 1px solid @gray-light;
	border-top : 2px solid black;
	margin-bottom : 20px;
	font-family : "PT Sans", sans-serif;

	&__header {
		padding-left : 8px;
		height : 35px;
		line-height : 35px;
		color : @white;
		font-weight : bold;
		font-size : 14px;
		text-transform: uppercase;
		background : @blue-dark;
		margin: 4px 5px 0 5px;
	}
	&__list {
		margin: 20px 10px 20px 10px;
	}
	&__item {
		margin-bottom : 15px;
	}
	&__logo {
		border : 1px solid @gray-light;
		width : 218px;
		height : 120px;
		display : flex;
		justify-content: center;
		align-items : center;
	}
	&__title {
		font-size : 16px;
		font-weight : bold;
		padding-top : 15px;
		display : block;
		padding-left : 10px;
		margin-bottom : 15px;

		.normal-link();
		&, &:hover, &:visited, &:active {
			color : @black;
		}
	}
	&__date {
		font-size : 12px;
		margin-top : 15px;
		display : block;
		color : @gray-dark;
		padding-left : 10px;
	}
	&__description {
		padding-left : 10px;
		font-size : 14px;
		font-weight : bold;
		padding-bottom : 15px;
		display : block;
		color : @black;
	}
	&__participants-header {
		height : 35px;
		line-height : 32px;
		font-size : 14px;
		font-weight : bold;
		text-transform: uppercase;
		padding-left : 10px;

		background : @gray-lighter;
		color : @gray-dark;
	}
	&__participants-list {
		margin : 10px;
	}
	&__participant {
		font-size : 14px;
		font-weight : bold;
		text-transform: uppercase;
		display : block;

		.normal-link();
		&, &:hover, &:active, &:visited {
			color : @black;
		}
	}
	&__more {
		font-size : 14px;
		display : block;
		margin-left : 10px;
		margin-bottom : 15px;
		&, &:hover, &:active, &:visited {
			text-decoration: underline;
		}
		&:hover { text-decoration: none; }
	}
	&__button {
		display : block;
		font-size : 16px;
		font-weight : bold;

		&, &:hover, &:active, &:visited {
			color : @white;
			text-decoration: none;
		}
		height : 40px;
		line-height : 38px;
		text-align : center;
		background : @red;
		border-radius : 3px;
		margin : 10px;
		margin-top : 20px;
	}
}