body .expo-lg {
	position : relative;
	font-family : 'PT Sans', sans-serif;
	border-top : 2px solid black;
	padding-top : 3px;

	&__header {
		padding-left : 9px;
		height : 35px;
		line-height : 35px;
		color : @white;
		font-weight : bold;
		font-size : 14px;
		text-transform: uppercase;
		background : @blue-dark;
		margin-bottom : 20px;
	}

	&__feed {
		margin-bottom : 30px;
	}

	&__item {
		lost-utility : clearfix;
		margin-bottom : 30px;
	}

	&__logo {
		display : inline-block;
		vertical-align: top;
		width : 153px;
		height : 153px;
		display : flex;
		align-items: center;
		justify-content: center;
		border : 1px solid @gray-light;
		margin-left : 2px;
		img {
			max-width : 80%;
			max-height : 80%;
		}
		float : left;
	}
	&__title {
		display : block;
		font-weight : bold;
		font-size : 16px;
		line-height : 18px;
		padding-top : 2px;
		padding-bottom : 8px;
		padding-left : 175px;

		.normal-link();
		&, &:hover, &:visited, &:active {
			color : @black;
		}
	}
	&__excerpt {
		display : block;
		padding-left : 175px;
		margin-bottom : 8px;

		.normal-link();
		&, &:hover, &:visited, &:active {
			color : @almostblack;
		}
		&--not-a-link {
			&:hover { text-decoration: none; }
		}

		&, p {
			font-size : 14px;
			line-height : 18px;	
		}
	}
	&__date {
		display : block;
		padding-left : 175px;
		font-size : 12px;
		color : @gray-dark;
		line-height : 12px;
		padding-bottom : 2px;
	}

}