body .fady {
	position : fixed;
	top : 0;
	bottom : 0;
	left : 0;
	right : 0;
	background : @white;
	opacity : 1;

	z-index : 999999;
	&.disabled {
		opacity : 0;
		transition : .4s ease-in;
	}
	&.off {
		display : none;
	}
}