.form {
	* { outline : none; }
	//lost-utility : edit;
	width : 760px;
	&__message {
		padding : 20px;
		border : 1px solid @almostblack;
		margin-bottom : 10px;
		&-status {
			font-size : 14px;
			font-weight : bold;
			text-transform: uppercase;
			text-align: center;
			margin-bottom : 8px;
			.form__message--error & { color : #ff411b; }
			.form__message--success & { color : #14aa00; } 
		}

		&-description {
			font-size : 14px;
			color : @almostblack;
			text-align: center;
		}
		&--error {
			border-color : #ffd9d9;
			background-color : #fefbfb;
		}
		&--success {
			border-color : #daf3d9;
			background-color : #fbfefb;
		}
	}

	&__form {
		margin-top : 20px;
		margin-bottom : 40px;
	}
	&__input-wrapper {
		lost-utility : clearfix;
		margin-bottom : 20px;
		font-size : 0;

		span { font-size : 14px; }
	}
	&__input-group {
		min-height : 40px;
	}
	&__label {
		width : 34%;
		display : inline-block;
		float : left;
		padding-top : 8px;
		&.short { padding-top : 0;}

		font-size : 12px;
		color : @black;
		font-weight : bold;
		text-transform: uppercase;
	}
	&__required-star {
		color : red;
		display : inline-block;
		font-size : 14px;
	}
	&__input {
		float : left;
		display : inline-block;
		
		margin-left : 34%;
		.form__label + & {
			margin-left : 0;
		}
		& + label {
			display: block;
		    clear: left;
		    margin-left: 34%;
			padding : 8px 0 0 10px;
			font-size : 14px !important;
			line-height : 16px !important;

			&.error {
				color : red;
			}
		}
		& + & {
			margin-left : 20px;
		}
		&--text {
			width : 66%;
			height : 40px;
			line-height : 40px;
			padding : 0 10px;
			font-size : 14px;
			border : 1px solid #97a1bc;
			background : @white;

			&.error { border-color : #f58c8a; }
		}

		&--textarea {
			width : 66%;
			min-height : 40px;
			padding : 14px 10px 10px 10px;
			line-height : 16px;
			font-size : 14px;
			border : 1px solid #cbd0dd;
			background : @white;

			&.error { border-color : #f58c8a; }
		}

		&--button {
			font-weight : bold;
			text-transform: uppercase;
			font-size : 14px;
			border : none;
			&, &:hover, &:active, &:visited {
				color : @white;
				text-decoration: none;
				outline : none;
			}

			background : @blue-dark;
			&:hover { background : @red; }
			&:active { background : @red-dark; }

			height : 40px;
			width : 240px;
			display : inline-block;
		}
	}

	&__checkbox {
		&-wrapper {
			cursor : pointer;
			font-size : 14px;
			& + & { margin-left : 20px; }
		}
		opacity : 0;
		& + span {
			position : relative;
			padding-left : 9px;
			&:before {
				content : url("@{public}images/check-0.png");
				width : 17px;
				height : 17px;
				display : inline-block;

				position : absolute;
				top : 0;
				left : -17px;
			}
		}
		&:checked + span {
			&:before {
				content : url("@{public}images/check-1.png");
			}
		}
	}

	&__radio {
		
		&-wrapper {
			cursor : pointer;
			font-size : 14px;
			& + & { margin-left : 20px; }
		}
		opacity : 0;
		& + span {
			position : relative;
			padding-left : 9px;
			&:before {
				content : url("@{public}images/radio-0.png");
				width : 17px;
				height : 17px;
				display : inline-block;

				position : absolute;
				top : 0;
				left : -17px;
			}
		}
		&:checked + span {
			&:before {
				content : url("@{public}images/radio-1.png");
			}
		}
	}

	&__hint {
		clear : left;
		margin-left : 34%;
		color : #808080;
		margin-bottom : 0 !important;
		padding : 8px 0 0 10px;
		font-size : 14px !important;
		line-height : 16px !important;
		&.error {
			color : red;
		}
	}
}

.simpleselect {
	height : 40px;
	width : 240px;
	display : inline-block;

	.placeholder {
		border : 1px solid #97a1bc;
		border-radius : 0;
		color : @black;
		&:after {
			background : url('@{public}images/select-mark.png') no-repeat;
			width : 15px;
			height : 8px;
			top : 14px;
		}
	}

	& + .hidden_select_container + & {
		margin-left : 20px;
	}
	.options {
		width : 238px;
		border : 1px solid #97a1bc;
		border-radius : 0;
		color : @black;

		.option.active {
			background : #eeeff3;
			color : @black;
		}
	}
}
.hidden_select_container {
	display : inline-block;
}

.NFI-wrapper {
    font-size : 12px;
}
.NFI-button {
    height : 40px;
    background : #eeeff3;
    color : @black;
    line-height : 40px;
    border : none;
    text-transform: uppercase;
    padding : 0 20px;
    &:hover {
    	background : darken(#eeeff3, 7%);
    }
}
.NFI-filename {
    padding-left : 12px;
    line-height : 40px;
    height : 40px;
    border : none;
}