body .go-top {
	font-size : 13px;
	font-weight : bold;
	font-family : 'PT Sans', sans-serif;
	&, &:hover, &:visited, &:active {
		color : @blue-dark;
		text-decoration: none;
	}
	position : absolute;
	bottom : 40px;
	right : 100px;
	display : inline-block;
	width : 66px;
	text-align : center;
	text-transform: uppercase;

	&:before {
		content : url('@{public}images/go-top-arrow.png');
		width : 66px;
		height : 66px;
		text-align : center;
		line-height : 72px;
		background : @red;
		display : inline-block;
		border-radius : 33px;

		position : absolute;
		top : -72px;
		left : 0;
	}
	&:hover {
		&:before { background : @blue-dark; }
	}
	&:active {
		&:before { background : @blue-darker; }
	}

	&--small {
		&:before {
			content : url('@{public}images/go-top-arrow--small.png');

			width : 32px;
			height : 32px;
			top : -8px;
			left : -32px;
			border-radius : 16px;
			line-height : 32px;
		}
	}
}