.login-form {
	font-family : 'PT Sans', sans-serif;
	font-size : 14px;
	&__form {
		width : 500px;
		margin : 110px auto 120px 260px;
		position : relative;
	}
	&__header {
		font-size : 20px;
		font-weight : bold;
		text-transform: uppercase;
		color : @blue-dark;
		text-align : left;
		margin-bottom : 30px;
	}
	&__forgot-pwd {
		&, &:active, &:hover, &:visited {
			color : @blue-dark;
			text-decoration: underline;
		}
		&:hover { text-decoration: none; }
		position : absolute;
		right : 0;
		top : 0;
	}
	&__row {
		max-height : 40px;
		margin-bottom : 28px;
		font-size : 0;
		&:nth-last-child(2) {
			margin-bottom : 22px;
		}

		&--without-labels {
			padding-left : 130px;
		}

		label.error {
			font-size: 14px;
    		padding-left: 130px;
    		color : @red;
		}
	}
	&__label {
		font-weight : bold;
		color : @black;
		font-size : 16px;
		line-height : 38px;
		width : 130px;
		display : inline-block;
		vertical-align: top;
	}
	&__input {
		vertical-align: top;
		width : 370px;
		display : inline-block;
		font-size : 16px;
		line-height : 38px;
		padding-left : 8px;
		height : 40px;
		border : 1px solid @gray-light;
		border-radius : 3px;
		background : @white;
		&, &:focus { outline: none; }
	}
	&__button {
		height : 40px;
		line-height : 38px;
		border : none;
		font-size : 16px;
		padding : 0 40px;
		font-weight : bold;
		background : @red;
		border-radius : 3px;
		display : inline-block;

		&, &:focus { outline: none; }
		&, &:hover, &:active, &:visited {
			color : @white !important;
			text-decoration: none !important;
		}

		&--gray {
			background : @gray-b;
		}

		&:hover {
			background : @blue-dark;
		}

		&+& {
			margin-left : 20px;
		}

	}
}