body .logo-bar {
	.wrapper();
	height : 130px;
	padding-top : 20px;
	padding-bottom : 20px;
	font-size : 0;
	font-family : 'PT Sans', sans-serif;

	&--is-heading {
		height : 100px;

		.logo-bar__menu { display: none; }
		.logo-bar__header { display: block; }
	}

	&__logo {
		width : 260px;
		float : left;
		text-align : left;
		display : inline-block;
	}
	&__menu {
		display : block;
		width : @min_width - 260px;
		font-size : 0;
		float : left;

		&-item {
			position : relative;
			margin-bottom : 2px;
			margin-right : 2px;
			font-size : 16px;
			border : 2px solid @gray-light;
			font-weight : bold;
			display : inline-block;
			text-transform: uppercase;
			line-height : 26px;
			height : 30px;
			text-align : center;

			&--construction { width : 180px; }
			&--medicine 	{ width : 283px; }
			&--transport 	{ width : 293px; margin-right : 0;}
			&--food 		{ width : 301px; }
			&--attorney 	{ width : 457px; margin-right : 0;}
			&--host 		{ width : 381px; }
			&--audit 		{ width : 377px; margin-right : 0;}

			&, &:hover, &:visited, &:active {
				color : @blue-dark;
				text-decoration: none;
			}
			&:hover {
				background : @gray-light;
			}
		}
		&-link {
			&, &:hover, &:visited, &:active {
				color : @blue-dark;
				text-decoration: none;
			}
		 	display : block;
		}
	}

	&__submenu {
		position : absolute;
		background : @blue-dark;
		z-index : 999;
		top : -5px;
		left : -2px;

		display : none;
		&.toggled {
			display : block;
		}

		&-title {
			font-weight : bold;
			color : @white;
			font-size : 16px;
			line-height : 36px;
			height : 36px;
			text-transform: uppercase;
		}
		&-link {
			font-size : 12px;
			line-height : 30px;
			height : 30px;
			text-transform: uppercase;
			display : block;
			font-weight : normal;
			text-align : center;
			&, &:hover, &:active, &:visited {
				color : @white;
				text-decoration: none;
			}
			&:hover {
				background : lighten(@blue-dark, 10%);
			}
			span {
				border-bottom : 1px solid #394b7f;
				text-align : left;
				height : 30px;
				line-height : 30px;
				display : inline-block;
			}
			&:last-child {
				span { border-bottom : none; }
			}
			&:first-child {
				span { border-top : 1px solid #394b7f; }
			}
		}
	}
	&__menu-item--construction .logo-bar__submenu { width : 180px; }
	&__menu-item--construction .logo-bar__submenu-link span { width: 120px; }
	&__menu-item--medicine .logo-bar__submenu { width : 283px; }
	&__menu-item--medicine .logo-bar__submenu-link span { width: 223px; }
	&__menu-item--transport .logo-bar__submenu { width : 293px; }
	&__menu-item--transport .logo-bar__submenu-link span { width: 233px; }
	&__menu-item--food .logo-bar__submenu { width : 301px; }
	&__menu-item--food .logo-bar__submenu-link span { width: 241px; }
	&__menu-item--attorney .logo-bar__submenu { width : 457px; }
	&__menu-item--attorney .logo-bar__submenu-link span { width: 297px; }
	&__menu-item--host .logo-bar__submenu { width : 381px; }
	&__menu-item--host .logo-bar__submenu-link span { width: 321px; }
	&__menu-item--audit .logo-bar__submenu { width : 377px; }
	&__menu-item--audit .logo-bar__submenu-link span { width: 317px; }

	&__header {
		display : none;
		width : @min_width - 260px;
		font-size : 25px;
		font-weight : bold;
		height : 36px;
		line-height : 36px;
		background : @blue-dark;
		color : @white;
		text-align : center;
		text-transform : uppercase;
		float : left;
		position : relative;

		&:before {
			content : "";
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 18px 0 18px 10px;
			border-color: transparent transparent transparent @white;

			position : absolute;
			left : 0;
			top : 0;
		}
	}
}