body .magazine {
	border : 1px solid @gray-light;
	border-top : 2px solid black;
	padding : 3px 5px 20px 5px;
	margin-bottom : 20px;
	font-family : "PT Sans", sans-serif;

	&__header {
		padding-left : 8px;
		height : 35px;
		line-height : 35px;
		color : @white;
		font-weight : bold;
		font-size : 14px;
		text-transform: uppercase;
		background : @blue;
	}
	&__wrapper {
		padding : 18px 30px 0px 15px;
	}
	&__download {
		position : relative;
		display : block;
		padding-left : 34px;
		&:before {
			content : url('@{public}images/pdf.png');
			width : 23px;
			height : 24px;
			position : absolute;
			left : 2px;
			top : 4px;
		}
	}
	&__title {
		display : block;
		font-size : 14px;
		line-height : 16px;
		padding-right : 20px;
		font-weight : bold;
		padding-bottom : 4px;
		color : @blue-dark;
	}
	&__details {
		font-size : 12px;
		color : @gray-dark;
	}
	&__download {
		&, &:hover, &:visited, &:active {
			text-decoration: none;
			.magazine__title { text-decoration: none; }
			.magazine__details { text-decoration: none; }
		}
		&:hover {
			.magazine__title { text-decoration: underline; }
		}
	}
	&__all {
		&, &:active, &:visited {
			color : @blue-dark;
			text-decoration: underline;
		}
		&:hover {
			color : @blue-dark;
			text-decoration: none;
		}
		font-size : 12px;
		margin-top : 8px;
		display : block;
	}
}