body .new-companies {
	border : 1px solid @gray-light;
	border-top : 2px solid black;
	margin-bottom : 20px;
	font-family : "PT Sans", sans-serif;

	&__header {
		padding-left : 8px;
		height : 35px;
		line-height : 35px;
		color : @white;
		font-weight : bold;
		font-size : 14px;
		text-transform: uppercase;
		background : @orange;
		margin: 4px 5px 0 5px;
	}
	&__list {
		margin: 20px 10px 20px 10px;
	}
	&__item {
		margin-top : 13px;
		lost-utility : clearfix;
	}
	&__logo {
		border : 1px solid @gray-light;
		width : 67px;
		height : 67px;
		float : left;
		display : flex;
		justify-content: center;
		align-items : center;
	}
	&__description {
		float : left;
		width : 150px;
		height : 67px;
		max-height : 67px;
		overflow : hidden;
		padding-left : 10px;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	&__title {
		font-size : 14px;
		font-weight : bold;
		text-transform: uppercase;

		.normal-link();
		&, &:hover, &:visited, &:active {
			color : @black;
		}
	}
	&__categories {
		color : @gray-dark;
		font-size : 0;
		line-height : 9px;
		text-transform: uppercase;
	}
	&__cat {
		font-size : 9px;

		.normal-link();
		&, &:hover, &:visited, &:active { color : @gray-dark; }
		&-divider {
			color : @gray-dark;
			font-size : 9px;
		}
	}

	&__button {
		display : block;
		font-size : 16px;
		font-weight : bold;

		&, &:hover, &:active, &:visited {
			color : @white;
			text-decoration: none;
		}
		&:hover { background : @blue-dark; }
		&:active { background : @blue-darker; }
		height : 40px;
		line-height : 38px;
		text-align : center;
		background : @red;
		border-radius : 3px;
		margin : 10px;
	}
}