body .news-carousel {
	.wrapper();
	padding-top : 20px;
	padding-bottom : 50px;
	border-bottom : 1px solid @gray-light;
	font-family : 'PT Sans', sans-serif;
	line-height : normal;

	*, *:active {
		outline : none;
	}

	&__list {
		max-height : 201px;

		.slick-dots {
			.clean-ul-list();
			display: block;
			list-style: none;
			padding-left: 0;
		    text-align: center;
		    margin-top: 24px !important;

			li {
				display: inline-block;
				button {
					border: 0;
					background: @gray-light;
					display: inline-block;
					color: transparent;
					width: 30px;
					margin-right: 10px;
					height: 7px;

					&:focus {
						outline : none;
					}
				}
				&.slick-active {
					button {
						background : @gray-dark;
					}
				}
			}
		}
	}

	&__item {
		padding-right : 10px;
	}

	&__cat {
		text-transform: uppercase;
		font-weight : bold;
		font-size : 10px;
		display : block;
		.normal-link();
		&, &:hover, &:active, &:visited {
			color : @black;
		}
	}
	&__subcat {
		text-transform: uppercase;
		font-weight : bold;
		font-size : 10px;
		max-width : 170px;
		min-height : 26px;
		.normal-link();
		&, &:hover, &:active, &:visited {
			color : @gray-dark;
		}
	}

	&__preview {
		margin-top : 12px;
		lost-utility : clearfix;
		max-height : 150px;
		overflow : hidden;
	}
	&__image {
		float : left;
		width : 90px;
		height : 140px;
		display : inline-block;
	}
	&__company {
		font-size : 10px;
		padding-left : 100px;
		font-weight : bold;
		text-transform: uppercase;
		display : block;
		.normal-link();
		&, &:hover, &:active, &:visited {
			color : @black;
		}
	}
	&__title {
		font-size : 13px;
		line-height : 14px;
		padding : 8px 0 8px 100px;
		font-weight : bold;
		text-transform: uppercase;
		display : block;

		.normal-link();
		&, &:hover, &:visited, &:active {
			color : @black;
		}
	}
	&__excerpt {
		font-size : 12.8px;
		line-height : 16px;
		padding-left : 100px;
		display : block;
		.normal-link();
		&, &:hover, &:visited, &:active {
			color : @black;
		}
	}

	&__link-short {
		display : none;
		font-size : 13px;
		line-height : 16px;
		padding-top : 10px;
		font-weight : bold;
		text-transform: uppercase;

		.normal-link();
		&, &:hover, &:visited, &:active {
			color : @black;
		}
	}


	&--without-subcat {
		.news-carousel__list {
			max-height : 174px;
		}
		.news-carousel__subcat {
			display : none;
		}
	}

	&--short {
		.news-carousel__list {
			max-height : 55px;
		}
		.news-carousel__subcat {
			display : none;
		}
		.news-carousel__preview {
			display : none;
		}
		.news-carousel__link-short {
			display : block;
		}
	}

}