body .news {
	position : relative;
	font-family : 'PT Sans', sans-serif;

	&__read-also {
		font-size : 14px;
		line-height : 14px;
		text-transform: uppercase;
		font-weight : bold;
		color : @almostblack;
		margin-top : 28px;
		margin-bottom : 28px
	}

	&--full {
		border-top : 2px solid black;
		padding-top : 3px;
	}
	&__header {
		padding-left : 9px;
		height : 35px;
		line-height : 35px;
		color : @white;
		font-weight : bold;
		font-size : 14px;
		text-transform: uppercase;
		background : @purple;
		display : none;
		margin-bottom : 20px;
	}
	&__rubrics {
		display : none;
		font-size : 0;
		margin-bottom : 20px;
	}
	&__rubrics-label {
		font-size : 14px;
		font-weight : bold;
		width : 153px;
		display : inline-block;
		margin-right : 20px;
	}
	&__rubrics-select {
	    display: inline-block;
	    margin: 0;
	    font-size: 14px;
	    width: 586px;
	    &, &:focus, &:active { outline : none; }
	    border : 1px solid @gray-light;
	    border-radius : 4px;
	    background : @white;
	    height : 30px;
	    line-height : 28px;
	}
	.simpleselect {
	 	display: inline-block;
	 	box-sizing : border-box;
	    margin: 0;
	    font-size: 14px;
	    width: 586px;
	    &, &:focus, &:active { outline : none; }
	    border : 1px solid @gray-light;
	    border-radius : 4px;
	    background : @white;
	    height : 30px;
	    line-height : 28px;

	    .placeholder {
			padding: 0;
			height: 28px;
			display: block;
			line-height: 28px;
			border: none;
			padding-left: 10px;
			border-radius : 4px;

			&:after {
				content: url("/build/images/select-arrow.png");
				width: 7px;
				height: 6px;
				display: inline-block;
				position: absolute;
				right: 10px;
				background: none;
				top : 0px;
			}
	    }
		.options {
			box-sizing : border-box;
			width : 586px;
			border : 1px solid @gray-light;
			border-radius : 4px;
			margin-left : -1px;
			margin-top : -1px;

			.option {
				height : 26px;
				line-height : 26px;
				padding : 0;
				padding-left : 10px;
			}
		}
	}
	&--full {
		.news__header { display : block; }
		.news__rubrics { display : block; }
	}

	&__feed {
		margin-bottom : 30px;
	}

	&__item {
		lost-utility : clearfix;
		margin-bottom : 30px;
	}

	&__logo {
		display : inline-block;
		vertical-align: top;
		width : 153px;
		height : 153px;
		display : flex;
		align-items: center;
		justify-content: center;
		border : 1px solid @gray-light;
		img {
			max-width : 80%;
			max-height : 80%;
		}
		float : left;
	}
	&__company {
		text-transform: uppercase;
		font-weight : bold;
		font-size : 14px;
		line-height : 14px;
		padding-bottom : 2px;
		padding-left : 173px;
		display : block;
		padding-top : 3px;
		.normal-link();
		&, &:hover, &:active, &:visited { color : @red; }
	}
	&__title {
		display : block;
		font-weight : bold;
		font-size : 16px;
		line-height : 18px;
		padding-bottom : 6px;
		padding-left : 173px;

		.normal-link();
		&, &:hover, &:visited, &:active { color : @black; }
	}
	&__excerpt {
		&, p {
			font-size : 14px;
			line-height : 18px;
		}
		display : block;
		padding-left : 173px;
		margin-bottom : 8px;

		.normal-link();
		&, &:hover, &:visited, &:active { color : @almostblack; }

		&--not-a-link {
			&, &:hover, &:visited, &:active {
				text-decoration: none;
			}
		}

	}
	&__date {
		display : block;
		padding-left : 173px;
		font-size : 12px;
		color : @gray-dark;
		line-height : 12px;
		padding-bottom : 2px;
	}

	&--simple {
		.news__item {
			border-bottom : 1px solid @gray-light;
			margin-bottom : 20px;
			padding-bottom : 16px;
			&:last-child {
				border-bottom : none;
			}
		}
		.news__logo { display: none; }
		.news__company { display : none; }
		.news__title {padding-left : 0;}
		.news__excerpt {padding-left : 0;}
		.news__date {padding-left : 0;}
	}
	&--no-logo {
		.news__logo { display: none; }
		.news__company { padding-left : 0;}
		.news__title {padding-left : 0;}
		.news__excerpt {padding-left : 0; padding-top : 4px;}
		.news__date {padding-left : 0; padding-top : 4px;}	
	}

}