body .pagination {
	margin-top : 20px;
	margin-bottom : 40px;
	font-family : 'Roboto';

	&__list {
		font-size : 0;
		text-align : center;
	}
	&__link {
		background : @gray-lighter;
		font-weight : bold;
		font-size : 12px;
		margin-right : 10px;
		&:last-child {
			margin-right : 0;
		}

		height : 30px;
		min-width : 30px;
		line-height : 30px;
		padding-left : 10px;
		padding-right : 10px;
		display : inline-block;
		&, &:hover, &:active, &:visited {
			text-decoration: none;
		}

		&:hover { background : @gray-c;}
		&:active {
			color : @white;
			background : @blue-dark;
		}
		&--active {
			background : @red;
			&, &:hover, &:visited, &:active { color : @white; }
		}
	}
	&__dots {
		width : 23px;
		height : 7px;
		display : inline-block;
		background : url("@{public}images/pagination-dots.png");
		margin-right : 10px;
	}
}