body .pills {
	lost-utility : clearfix;
	margin-top : 20px;
	margin-bottom : 20px;
	font-weight : 'PT Sans', sans-serif;

	&__pill {
		height : 30px;
		width : 153px;
		margin-bottom : 1px;
		display : block;

		font-size : 12px;
		line-height : 28px;
		text-align : center;
		text-transform: uppercase;
		font-weight : bold;

		border : 1px solid @gray-lighter;
		background : @white;

		&, &:hover, &:visited, &:active { color : @black; text-decoration: none; }
	}

	&__label {}
	&__count { color : @gray-8; }

	&__pill {
		&--active {
			background : @orange;
			border-color : @orange;

			&, &:hover, &:visited, &:active { color : @white; }

			.pills__count {color : @white; }
		}

		&:hover { 
			color : @black; 
			border : 1px solid @orange;
			.pills__count { color : @gray-dark; }
		}
	}

	&--in-line {
		.pills__pill {
			lost-column : 1/4 4 2px;

			&:first-child {
				clear : none;
			}
		}
	}
}