body .promos {
	border : 1px solid @gray-light;
	border-top : 2px solid black;
	padding : 3px 5px 20px 5px;
	margin-bottom : 20px;
	font-family : "PT Sans", sans-serif;

	&__header {
		padding-left : 8px;
		height : 35px;
		line-height : 35px;
		color : @white;
		font-weight : bold;
		font-size : 14px;
		text-transform: uppercase;
		background : @green;

		position : relative;
	}
	&__subheader {
		position : absolute;
		top : 0;
		right : 0;
		padding-right : 8px;
		line-height : 35px;
		font-size : 12px;
		text-transform: uppercase;

		.normal-link();
		&, &:hover, &:active, &:visited {
			color : @green-light;
		}
	}
	&__list {
		margin-top : 20px;
	}
	&__list-header {
		margin-left : 2px;
		margin-right : 2px;
		height : 32px;
		line-height : 30px;
		font-size : 14px;
		font-weight : bold;
		text-transform: uppercase;
		padding-left : 8px;
		margin-bottom : 5px;

		background : @gray-lighter;
		color : @gray-dark;
		position : relative;
	}
	&__list-subheader {
		position : absolute;
		top : 0;
		right : 0;
		padding-right : 8px;
		line-height : 35px;
		font-size : 10px;
		font-weight : normal;
		text-transform: uppercase;

		&, &:hover, &:visited, &:active {
			text-decoration: underline;
			color : #444;
		}
		&:hover { text-decoration: none; }
	}
	&__item {
		margin-left : 20px;
		margin-right : 20px;
		border-bottom : 1px solid @gray-lighter;
		&:last-child {
			border-bottom : none;
		}
		padding-top : 15px;
		padding-bottom : 15px;
	}
	&__title {
		font-size : 14px;
		font-weight : bold;

		.normal-link();
		&, &:hover, &:active, &:visited { color : @black; }
	}
	&__text {
		font-size : 14px;
		font-family : 'PT Sans';
		line-height : 18px;

		.normal-link();
		&, &:hover, &:active, &:visited { color : @black; }
	}
	&__link {
		.normal-link();
	}
}