body .pubgrid {
	border-top : 2px solid black;
	padding-top : 3px;
	font-family : "PT Sans", sans-serif;

	&__header {
		padding-left : 9px;
		height : 35px;
		line-height : 35px;
		color : @white;
		font-weight : bold;
		font-size : 14px;
		text-transform: uppercase;
		background : @blue;

		position : relative;
	}
	&__subheader {
		position : absolute;
		top : 0;
		right : 0;
		padding-right : 8px;
		line-height : 35px;
		font-size : 12px;
		text-transform: uppercase;
		display : block;
		
		.normal-link();
		&, &:hover, &:visited, &:active {
			color : @blue-light;
		}
	}

	&__list {
		margin-top : 20px;
		lost-utility : clearfix;
	}
	&__item {
		lost-column : 1/2 2 20px;
		padding-bottom : 40px;
	}
	&__image {
		min-width : 240px;
		min-height : 160px;
		margin-bottom : 16px;
	}
	&__title {
		font-size : 14px;
		font-weight : bold;
		text-transform: uppercase;
		.normal-link();
		&, &:hover, &:active, &:visited { color : @red; }

	}
	&__subtitle {
		font-size : 16px;
		line-height : 16px;
		font-weight : bold;
		padding-bottom : 8px;
		display : block;

		.normal-link();
		&, &:hover, &:active, &:visited { color : @black; }
		
	}
	&__excerpt {
		font-size : 14px;
		line-height : 16px;
		color : @black;
		p  {margin : 0;}
	}
}