body .publication {
	font-weight : 'PT Sans', sans-serif;
	&__date {
		height : 30px;
		line-height : 30px;
		border : 0;
		color : @white;
		background : @blue-dark;
		display : inline-block;
		font-size : 14px;
		margin-right : 1px;
		padding: 0 20px;
	}
	&__tag {
		height : 30px;
		line-height : 30px;
		border : 0;
		color : @almostblack;
		background : #f0f0f0;
		font-weight : bold;
		display : inline-block;
		font-size : 14px;
		padding: 0 20px;
	}
	&__title {
		/* inherited from h3 */
	}

	&__author {
		background : @gray-lighter;
		display : inline-block;
		width : 240px;
		padding : 20px;
		margin-right : 20px;
		margin-bottom : 10px;
		float : left;
	}
	&__author-name {
		font-size : 18px;
		font-weight : bold;
		margin-top : 18px;
		marign-bottom : 12px;
	}
	&__author-status {
		font-size : 14px;
		font-style: italic;
		margin-top : 12px;
	}
	p {
		font-size : 16px;
		line-height : 20px;
		margin-bottom : 20px;
	}
}