body .pubs {
	position : relative;
	font-family : 'PT Sans', sans-serif;
	
	&__feed {
		margin-top : 30px;
		margin-bottom : 60px;
	}

	&__item {
		lost-utility : clearfix;
		margin-top : 20px;
		padding-bottom : 18px;
		border-bottom : 1px solid @gray-light;
		&:last-child {
			border-bottom : none;
		}
	}
	&__image {
		width : 153px;
		height : 102px;
		float : left;
		display : block;
	}
	&__date {
		display : block;
		padding-left : 173px;
		font-size : 12px;
		color : @gray-dark;
		line-height : 12px;
		padding-bottom : 2px;
	}
	&--no-date {
		.pubs__date { display : none; }
	}

	&__company {
		font-size : 14px;
		line-height : 14px;
		display : block;
		padding-left : 173px;
		font-weight : bold;
		text-transform: uppercase;

		.normal-link();
		&, &:hover, &:active, &:visited { color : @red; }
	}
	&--no-company {
		.pubs__company { display : none; }
	}

	&__title {
		display : block;
		font-weight : bold;
		font-size : 16px;
		margin-bottom : 8px;
		padding-left : 173px;

		.normal-link();
		&, &:hover, &:visited, &:active { color : @black; }
	}

	&__excerpt {
		display : block;
		padding-left : 173px;

		&, p {
			font-size : 14px;
			line-height : 18px;
		}

		.normal-link();
		&, &:hover, &:visited, &:active { color : @almostblack; }
		&--not-a-link {
			&:hover { text-decoration: none; }
		}
	}
}