body .quote-of-day {
	border : 1px solid @gray-light;
	border-top : 2px solid black;
	padding : 3px 5px 20px 5px;
	margin-bottom : 20px;
	font-family : "PT Sans", sans-serif;

	&__header {
		padding-left : 8px;
		height : 35px;
		line-height : 35px;
		color : @white;
		font-weight : bold;
		font-size : 14px;
		text-transform: uppercase;
		background : @green;
	}

	&__content {
		font-size : 14px;
		color : @almostblack;
		line-height : 18px;

		padding : 20px 18px 20px 16px;
	}
	&__author {
		lost-utility : clearfix;
	}
	&__avatar {
		width : 60px;
		float : left;
		text-align : right;
	}
	&__name {
		display : block;
		padding-left : 68px;
		
		letter-spacing : -.4px;
		font-size : 14px;
		font-weight : bold;
		text-transform : uppercase;
	}
	&__status {
		display : block;
		padding-left : 68px;

		letter-spacing : -.4px;
		font-size : 14px;
		line-height : 18px;
		padding-top : 2px;
	}
}