body .rubrics {
	.wrapper();
	background : @gray-lighter;
	height : 90px;
	margin-top : 20px;
	font-family : "PT Sans", sans-serif;

	&__header {
		height : 40px;
		padding-top : 17px;
		line-height : 17px;
		font-size : 17px;
		font-weight : bold;
		text-transform: uppercase;
		text-align: center;
	}
	&__list {
		lost-utility : clearfix;
		margin-left : 20px;
		margin-right : 20px;
	}
	&__link {
		lost-column : 1/3 3 14px;
		margin-top : 10px;
		margin-bottom : 10px;
		text-align : center;
		line-height : 30px;
		height : 30px;
		text-transform: uppercase;
		font-weight : bold;
		font-size : 14px;

		border : 1px solid @gray-b;

		&, &:hover, &:active, &:visited { 
			color : @black; text-decoration: none;
		}
		&:hover {
			border : 1px solid @blue-dark;
		}

		&--active {
			background : @white;
			height : 42px;
			margin-top : 8px;
			margin-bottom : 0;
			line-height : 42px;
			&, &:hover {
				border : none;
			}
		}
	}
}