body .sidebarnews {
	border-top : 2px solid black;
	padding-top : 3px;
	padding-bottom : 20px;
	font-family : 'PT Sans', sans-serif;

	&__header {
		padding-left : 8px;
		height : 35px;
		line-height : 35px;
		color : @white;
		font-weight : bold;
		font-size : 14px;
		text-transform: uppercase;
		background : @purple;
	}
	&__list {
	}
	&__item {
		line-height : 16px !important;
		padding-top : 18px;
		padding-bottom : 18px;
		border-bottom : 1px solid @gray-light;
		&:last-child {
			border-bottom : none;
		}
	}
	&__cat {
		font-size : 9px;
		text-transform: uppercase;
		.normal-link();
		&, &:hover, &:active, &:visited { color : @gray-dark; }
	}
	&__title {
		font-size : 14px;
		line-height : 16px;
		padding-bottom : 10px;
		padding-top : 3px;
		display : block;
		font-weight : bold;
		.normal-link();
		&, &:hover, &:active, &:visited { color : @black; }
	}
	&__date {
		font-size : 12px;
		color : @gray-dark;
	}
}