body .sidemenu {
	font-family : "PT Sans", sans-serif;
	margin-bottom : 24px;
	margin-top : -1px;
	
	&__item {
		height : 40px;
		border : 1px solid @gray-lighter;
		margin-bottom : 3px;
		display : block;
		width : 100%;

		font-size : 14px;
		line-height : 38px;
		font-weight : bold;
		text-transform: uppercase;
		position : relative;
	}
	&__link {
		&, &:hover, &:active, &:visited {
			color : @blue-dark;
			text-decoration: none;
		}
		&.active {
			color : @white;
			background : @blue-dark;
		}
		display : block;
		padding-left : 20px;
		width : 100%;
		height : 40px;
	}
	&__submenu {
		background : @blue-dark;
		position : absolute;
		top : 0;
		left : 100%;
		z-index : 999;
		display : none;
		&.active { display: block; }
	}
	&__sublink {
		.normal-link();
		&, &:hover, &:active, &:visited {
			color : @white;
			text-decoration: none;
		}
		&:hover { background: lighten(@blue-dark, 10%); }
		&:last-child { span {border-bottom : none;} }
		display : block;
		padding-left : 20px;
		padding-right : 20px;
		span {
			font-size : 12px;
			line-height : 30px;
			height : 32px;
			border-bottom : 1px solid #394b7f;
			white-space: nowrap;
			font-weight : normal;
			display : block;
		}
		&:first-child { span{ height: 34px; line-height : 34px; }}
		&:last-child { span{ height: 34px; }}
	}
}