body .top-nav {
	.wrapper();

	height : 40px;
	border-bottom : 1px solid @gray-light;
	font-family : 'PT Sans', sans-serif;
	font-size : 0;
	line-height : normal;

	&__menu {
		height : 40px;
		width : 550px;
		display : inline-block;
		border-right : 1px solid @gray-light;
		vertical-align: top;
	}
	&__menu-item {
		font-size : 12px;
		line-height : 40px;
		text-transform: uppercase;
		padding-right : 17px;
		font-weight : bold;

		.normal-link();
		&, &:hover, &:visited, &:active {
			color : @blue-dark;
		}
	}
	&__currency {
		width : 71px;
		height : 40px;
		display : inline-block;
	}
	&__social {
		width : 71px;
		height : 40px;
		display : inline-block;
	}
	&__search { /* goes to .top_search Block */ }
}

body .dropdown {
	border-right : 1px solid @gray-light;
	width : 71px;
	height : 40px;
	display : inline-block;
	vertical-align: top;
	position : relative;
	line-height : normal;

	&--expanded {
		border-bottom : 1px solid @white;
	}
	&__link-wrapper {
		height: 40px;
		display: block;
		padding-top: 12px;
	}

	&__icon0 {
		margin-left : 20px;
		display : block;
		background-repeat : no-repeat;
		padding-right : 24px;
		position : relative;

		&:after {
			content : url("@{public}images/select-arrow.png");
			width : 7px;
			height : 6px;
			display : inline-block;
			position : absolute;
			right : 0;
			top : 7px;
		}
	}
	&--currency {
		.dropdown__icon0 {
			background-image : url("@{public}images/currency-icon.png");
			width : 6px;
			height : 15px;
			padding-right : 28px;
		}
	}
	&--social {
		.dropdown__icon0 {
			width : 15px;
			height : 18px;
			background-image : url("@{public}images/social-icon.png");
		}
	}

	&__list-container {
		display : none;
		padding-left : 15px;
		padding-top : 15px;
		padding-bottom : 15px;
		width : 150px;
		background : @white;
		position: absolute;
		z-index: 3;
		top : 40px;
		left : -1px;
		border : 1px solid @gray-light;
		border-top : 0;
	}
	&--expanded {
		.dropdown__list-container {
			display : block;
		}
	}
	&__link {
		font-size : 13px;
		line-height : 22px;
		display : block;
		vertical-align: top;
		margin-bottom : 3px;

		.normal-link();
		&, &:hover, &:visited, &:active {
			color : @blue-dark;
		}
	}
	&__icon {
    	width : 22px;
    	height : 22px;
    	display : inline-block;
    	padding-bottom : 4px;
    	vertical-align: top;
    	margin-right : 8px;

    	&--fb { background : url("@{public}images/social-fb.png"); }
    	&--in { background : url("@{public}images/social-in.png"); }
    	&--p { background : url("@{public}images/social-p.png"); }
    	&--vk { background : url("@{public}images/social-vk.png"); }
	}
}

body .currency {
	min-width : 220px;
	padding-left : 20px;
	&__row {
		margin-top : 10px;
		margin-bottom : 10px;
	}
	&__item {
		display : inline-block;
		&, &:hover, &:active, &:visited {
			text-decoration: none;
		}
		margin-right : 20px;
		&:last-child{ margin-right : 0;}
	}
	&__label {
		font-size : 13px;
		color : @black;
		font-weight : bold;
		margin-right : 8px;
	}
	&__value {
		font-size : 13px;
		color : @blue-dark;
		font-weight : bold;

		&:after {
			width : 7px;
			height : 7px;
			vertical-align: top;
			display : inline-block;
			padding-left : 8px;
		}
		&--down:after { content : url('@{public}images/currency-down.png');}
		&--up:after { content : url('@{public}images/currency-up.png');}
	}
}

body .top-search {

	font-size : 0;
	height : 40px;
	display : inline-block;
	padding-top : 10px;
	width : 328px;
	max-width : 328px;
	font-family : "PT Sans", sans-serif;
	line-height : normal;

	&__input {
		width : 135px;
		margin-left : 20px;
		height : 20px;
		line-height : 20px;
		vertical-align : top;

		border : 1px solid @gray-light;
		border-radius : 4px;
		font-size : 10px;
		padding-left : 10px;
	}

	&__select {
		width : 130px;
		margin-left : 5px;
		height : 20px;
		line-height : 20px;
		vertical-align : top;

		border : 1px solid @gray-light;
		border-radius : 4px;
		font-size : 10px;
		text-transform: uppercase;
		padding-left : 10px;
		background : @white;

		option { 
			padding-left : 10px;
			text-transform: uppercase; 
		}
	}

	.simpleselect {
		box-sizing : border-box;
		width : 130px;
		margin-left : 5px;
		height : 20px;
		line-height : 20px;
		vertical-align : top;

		border : 1px solid @gray-light;
		border-radius : 4px;
		font-size : 10px;
		text-transform: uppercase;
		padding-left : 10px;
		background : @white;

		.placeholder {
			border : none;
			height : 18px;
			box-sizing : border-box;
			padding : 0;
			&:after {
				content: url("/build/images/select-arrow.png");
				width: 7px;
				height: 6px;
				display: inline-block;
				position: absolute;
				right: 5px;
				background: none;
				top : 0px;
			}
		}

		.options {
			width : 130px;
			border : 1px solid @gray-light;
			border-radius : 4px;
			.option {
				height : 20px;
				padding : 0;
				padding-left : 10px;
				text-transform: uppercase;
			}
		}
	}


	&__submit {
		width : 27px;
		height : 20px;
		display : inline-block;
		border : 0;
		color : transparent;
		background : url("@{public}images/search-button.png");
		vertical-align : top;
		margin-left : 6px;
	}
}