.top-companies {
	border-top : 2px solid black;
	padding-top : 3px;
	padding-bottom : 40px;
	font-family : "PT Sans", sans-serif;

	&__header {
		padding-left : 8px;
		height : 35px;
		line-height : 35px;
		color : @white;
		font-weight : bold;
		font-size : 14px;
		text-transform: uppercase;
		background : @orange;
	}
	&__list {
		margin-top : 20px;
	}
	&__item {
		margin-top : 13px;
		lost-utility : clearfix;
	}
	&__logo {
		border : 1px solid @gray-light;
		width : 67px;
		height : 67px;
		float : left;
		display : flex;
		justify-content: center;
		align-items : center;
	}
	&__description {
		float : left;
		width : 173px;
		height : 67px;
		max-height : 67px;
		overflow : hidden;
		padding-left : 10px;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	&__title {
		font-size : 14px;
		font-weight : bold;
		text-transform: uppercase;

		.normal-link();
		&, &:hover, &:visited, &:active { color : @black; }
	}
	&__categories {
		color : @gray-dark;
		font-size : 0;
		text-transform: uppercase;
	}
	&__cat {
		font-size : 9px;

		.normal-link();
		&, &:hover, &:visited, &:active { color : @gray-dark; }
		&-divider {
			color : @gray-dark;
			font-size : 9px;
		}
	}
}