<script src="<?= publicdir('vendor/jquery.min.js') ?>"></script>
<script src="<?= publicdir('vendor/jquery.validate.min.js') ?>"></script>
<script src="<?= publicdir('vendor/jquery.simpleselect.min.js') ?>"></script>
<script src="<?= publicdir('vendor/jquery.nicefileinput.min.js') ?>"></script>
<script src="<?= publicdir('vendor/jquery.maskedinput.min.js') ?>"></script>
<script src="<?= publicdir('vendor/jquery.slick.min.js') ?>"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script src="<?= publicdir('js/main.js') ?>"></script>