<div class="footer" id="footer">

	<div class="footer__col">
		<div class="footer__title">&copy; B2B24.CENTER</div>
		<p class="footer__p footer__p--blue">При использовании материалов портала, 
		ссылка на источник обязательно</p>

		<p class="footer__p">г. Москва, Красноворотский проезд, д. 3, стр. 1<br>
		(495) 971-92-05, (495) 979-6552</p>

		<div class="footer__social">
			<span>Мы в соцсетях</span>
			<a href="#" class="footer__social-link footer__social-link--fb"></a>
			<a href="#" class="footer__social-link footer__social-link--in"></a>
			<a href="#" class="footer__social-link footer__social-link--p"></a>
			<a href="#" class="footer__social-link footer__social-link--vk"></a>
		</div>
	</div>

	<div class="footer__col">
		<div class="footer__title">О портале</div>
		<p class="footer__p">Взаимодействие корпорации и клиента, суммируя приведенные примеры, конструктивно. Построение бренда оправдывает институциональный пул лояльных изданий. В общем, личность топ менеджера по-прежнему востребована. Не факт, что точечное воздействие ускоряет комплексный департамент маркетинга и продаж.</p>
	</div>

	<div class="footer__col">
		<div class="footer__menu">
			<a href="#" class="footer__link">Карта портала</a>
			<a href="#" class="footer__link">О портале</a>
			<a href="#" class="footer__link">Возможности для компаний</a>
		</div>
		<a href="#" class="footer__bilingo"><img src="<?= publicdir('images/bilingo-logo.png') ?>"></a>
	</div>

</div>
