<div class="layout-L3">
	<?php include "src/views/blocks/go-top.phtml"; ?>
	<div class="layout-L3__col layout-L3__col--col1">
		<?php include "src/views/blocks/catalogue.phtml" ?>
		<?php include "src/views/blocks/new-companies.phtml" ?>
		<?php include "src/views/blocks/expo.phtml" ?>
		<?php $banner = "banner1"; include "src/views/blocks/ad.phtml" ?>
	</div>
	
	<div class="layout-L3__col layout-L3__col--col2">
		<?php $pub_header = "Публикации"; $no_subheader = 1; $pub_id = 7; include "src/views/blocks/pubgrid.phtml" ?>
		<?php include "src/views/blocks/pagination.phtml"; ?>
	</div>

	<div class="layout-L3__col layout-L3__col--col3">
		<?php include "src/views/blocks/company-of-week.phtml" ?>
		<?php include "src/views/blocks/magazine.phtml" ?>
		<?php include "src/views/blocks/promos.phtml" ?>
		<?php $type = "small"; include "src/views/blocks/banner.phtml" ?>
		<?php $type = "small"; include "src/views/blocks/banner.phtml" ?>
		<?php $type = "large"; include "src/views/blocks/banner.phtml" ?>	
		<?php include "src/views/blocks/sidebarnews.phtml" ?>

	</div>
</div>
