<div class="layout-L3">
	<?php include "src/views/blocks/go-top.phtml"; ?>
	<div class="layout-L3__col layout-L3__col--col1">
		<?php include "src/views/blocks/catalogue.phtml" ?>
		<?php $banner = "banner3"; include "src/views/blocks/ad.phtml" ?>
		<?php $banner = "banner1"; include "src/views/blocks/ad.phtml" ?>
		<?php $banner = "banner2"; include "src/views/blocks/ad.phtml" ?>
	</div>
	
	<div class="layout-L3__col layout-L3__col--col2">
		<?php include "src/views/blocks/all-companies.phtml" ?>
		<?php include "src/views/blocks/pagination.phtml"; ?>
	</div>

	<div class="layout-L3__col layout-L3__col--col3">
		<?php include "src/views/blocks/new-companies.phtml" ?>
		<?php $type = "large"; include "src/views/blocks/banner.phtml" ?>
		<?php $type = "large"; include "src/views/blocks/banner.phtml" ?>
		<?php $type = "large"; include "src/views/blocks/banner.phtml" ?>
		<?php $type = "large"; include "src/views/blocks/banner.phtml" ?>
		<?php $type = "large"; include "src/views/blocks/banner.phtml" ?>
		<?php $type = "large"; include "src/views/blocks/banner.phtml" ?>
	</div>
</div>