<?php $rubric_id = 3; include "src/views/blocks/rubrics.phtml"; ?>
<div class="layout-L2">

	<?php include "src/views/blocks/go-top.phtml" ?>
	<div class="layout-L2__col layout-L2__col--col1">
		<?php include "src/views/blocks/ads.phtml" ?>
		<?php include "src/views/blocks/pagination.phtml" ?>
	</div>

	<div class="layout-L2__col layout-L2__col--col2">
		<?php $type = "large"; include "src/views/blocks/banner.phtml" ?>
		<?php $type = "large"; include "src/views/blocks/banner.phtml" ?>
		<?php $type = "large"; include "src/views/blocks/banner.phtml" ?>
		<?php $type = "large"; include "src/views/blocks/banner.phtml" ?>
		<?php $type = "large"; include "src/views/blocks/banner.phtml" ?>
		<?php $type = "large"; include "src/views/blocks/banner.phtml" ?>
	</div>
</div>