<div class="layout-L2B">

	<?php $small=1; include "src/views/blocks/go-top.phtml"; ?>
	<div class="layout-L2B__col layout-L2B__col--col1">
		<?php include "src/views/blocks/catalogue.phtml" ?>
		<?php $banner = "banner3"; include "src/views/blocks/ad.phtml" ?>
		<?php $banner = "banner1"; include "src/views/blocks/ad.phtml" ?>
	</div>

	<div class="layout-L2B__col layout-L2B__col--col2">
		<?php $mode="full"; include "src/views/blocks/news.phtml" ?>
		<?php include "src/views/blocks/pagination.phtml" ?>
	</div>
</div>