<div class="layout-L2">
	<?php include "src/views/blocks/go-top.phtml" ?>
	<div class="layout-L2__col layout-L2__col--col1">
		<?php include "src/views/blocks/publication.phtml" ?>
		<?php include "src/views/blocks/social.phtml" ?>
		<?php $extraclass='divider--type2'; include "src/views/blocks/divider.phtml" ?>
		<?php $readalso=1; $no_logo=1; include "src/views/blocks/news-after-pub.phtml" ?>
	</div>

	<div class="layout-L2__col layout-L2__col--col2">
		<?php $type = "large"; include "src/views/blocks/banner.phtml" ?>
		<?php $type = "large"; include "src/views/blocks/banner.phtml" ?>
		<?php $type = "large"; include "src/views/blocks/banner.phtml" ?>
		<?php $type = "large"; include "src/views/blocks/banner.phtml" ?>
	</div>
</div>