<?php // example of including a block:
     // include "src/views/blocks/block-name.phtml" ?>

<div class="layout-L3">
	<?php include "src/views/blocks/go-top.phtml"; ?>
	<div class="layout-L3__col layout-L3__col--col1">
		<?php include "src/views/blocks/sidemenu.phtml" ?>
		<?php include "src/views/blocks/top-companies.phtml" ?>
		<?php $banner = "banner1"; include "src/views/blocks/ad.phtml" ?>
		<?php $banner = "banner2"; include "src/views/blocks/ad.phtml" ?>
	</div>
	
	<div class="layout-L3__col layout-L3__col--col2">
		<?php $pub_header = "Строительство"; $pub_id = 0; include "src/views/blocks/pubgrid.phtml" ?>
		<?php $pub_header = "Медицина и фармацевтика"; $pub_id = 1; include "src/views/blocks/pubgrid.phtml" ?>
		<?php $pub_header = "Пищевая промышленность"; $pub_id = 2; include "src/views/blocks/pubgrid.phtml" ?>
		<?php $pub_header = "Склад, транспорт, логистика"; $pub_id = 3; include "src/views/blocks/pubgrid.phtml" ?>
		<?php $pub_header = "Индустрия гостепреиимства (HORECA)"; $pub_id = 4; include "src/views/blocks/pubgrid.phtml" ?>
		<?php $pub_header = "Адвокатские, Юридические, Патентные услуги"; $pub_id = 5; include "src/views/blocks/pubgrid.phtml" ?>
		<?php $pub_header = "Аудиторские, бухгалтерские услуги"; $pub_id = 6; include "src/views/blocks/pubgrid.phtml" ?>
	</div>

	<div class="layout-L3__col layout-L3__col--col3">
		<?php include "src/views/blocks/quote-of-day.phtml" ?>
		<?php $type = "small"; include "src/views/blocks/banner.phtml" ?>

		<?php include "src/views/blocks/sidebarnews.phtml" ?>
		
		<?php $type = "large"; include "src/views/blocks/banner.phtml" ?>
		<?php $type = "large"; include "src/views/blocks/banner.phtml" ?>
		<?php $type = "large"; include "src/views/blocks/banner.phtml" ?>
		<?php $type = "large"; include "src/views/blocks/banner.phtml" ?>
		<?php $type = "large"; include "src/views/blocks/banner.phtml" ?>
		<?php $type = "large"; include "src/views/blocks/banner.phtml" ?>
	</div>
</div>
