<div class="ads <?= isset($preclass) ? $preclass : '' ?> <?= (isset($mode) && $mode=='full') ? 'ads--full' : '' ?>">

	<div class="ads__header">Объявления</div>
	<div class="ads__controls">
		<div class="ads__controls-label">Отраслевой рубрикатор</div>
		<select class="ads__controls-select">
			<option value="0">все рубрики</option>
			<option value="1">рубрика 1</option>
			<option value="2">рубрика 2</option>
		</select>
		<div class="ads__controls-btnbar">
			<a href="#" class="ads__controls-btn ads__controls-btn--active">Продам</a>
			<a href="#" class="ads__controls-btn">Куплю</a>
			<a href="#" class="ads__controls-btn">Услуги</a>
		</div>
	</div>

	<?php if  ( !(isset($mode) && ($mode == 'full') ) ): ?>
		<div class="ads__feed">
			<div class="ads__group">
				<div class="ads__grouphead">
					Продам
					<a href="#" class="ads__groupsubhead">Все объявления о продаже</a>
				</div>
				<div class="ads__list">
					<div class="ads__item">
						<a href="#" class="ads__adtitle">Клинкманн СПБ, ЗАО</a>
						<div class="ads__adtext">Декоративный кирпич для облицовки зданий от 11,35 руб. ГОСТ
							6133-99. Доставка. Скидки!</div>
					</div>
					<div class="ads__item">
						<a href="#" class="ads__adtitle">Клинкманн СПБ, ЗАО</a>
						<div class="ads__adtext">Кредиты на выгодных условиях. Без предоплат, предварительных
						взносов и по двум документам</div>
					</div>
					<div class="ads__item">
						<a href="#" class="ads__adtitle">Клинкманн СПБ, ЗАО</a>
						<div class="ads__adtext">В авторегистрие (ARK) экзаменационные автомобили "Toyota"</div>
					</div>
				</div>
			</div>

			<div class="ads__group">
				<div class="ads__grouphead">
					Куплю
					<a href="#" class="ads__groupsubhead">Все объявления о продаже</a>
				</div>
				<div class="ads__list">
					<div class="ads__item">
						<a href="#" class="ads__adtitle">Клинкманн СПБ, ЗАО</a>
						<div class="ads__adtext">Декоративный кирпич для облицовки зданий от 11,35 руб. ГОСТ
							6133-99. Доставка. Скидки!</div>
					</div>
					<div class="ads__item">
						<a href="#" class="ads__adtitle">Клинкманн СПБ, ЗАО</a>
						<div class="ads__adtext">Сегодня по всему миру построены тысячи "пассивных"
						зданий. Директор проектного отделения компании "ИНсолар-Инвер" Виктор Горнов рассуждает
						о том, какие источники энергии</div>
					</div>
				</div>
			</div>

			<div class="ads__group">
				<div class="ads__grouphead">
					Услуги
					<a href="#" class="ads__groupsubhead">Все объявления о продаже</a>
				</div>
				<div class="ads__list">
					<div class="ads__item">
						<a href="#" class="ads__adtitle">Клинкманн СПБ, ЗАО</a>
						<div class="ads__adtext">Декоративный кирпич для облицовки зданий от 11,35 руб. ГОСТ
							6133-99. Доставка. Скидки!</div>
					</div>
					<div class="ads__item">
						<a href="#" class="ads__adtitle">Клинкманн СПБ, ЗАО</a>
						<div class="ads__adtext">В авторегистрие (ARK) экзаменационные автомобили "Toyota" <span class="ads__adtext-ad ads__adtext-ad--hidden">и тут продолжение текста - спрятанный текст, который можно посмотреть, нажав на кнопку. Повторное нажатие на кнопку обратно спрячет данный текст</span></div>
						<a href="#" class="ads__read-more">подробнее</a>
					</div>
					<div class="ads__item">
						<a href="#" class="ads__adtitle">Клинкманн СПБ, ЗАО</a>
						<div class="ads__adtext">Сегодня по всему миру построены тысячи "пассивных"
						зданий. Директор проектного отделения компании "ИНсолар-Инвер" Виктор Горнов рассуждает
						о том, какие источники энергии</div>
					</div>
					<div class="ads__item">
						<a href="#" class="ads__adtitle">Клинкманн СПБ, ЗАО</a>
						<div class="ads__adtext">Декоративный кирпич для облицовки зданий от 11,35 руб. ГОСТ
							6133-99. Доставка. Скидки!</div>
					</div>
				</div>
			</div>
		</div>
	<?php else: ?>
		<div class="ads__feed">
			<div class="ads__group">
				<div class="ads__list">
					<div class="ads__item">
						<a href="#" class="ads__adtitle">Клинкманн СПБ, ЗАО</a>
						<div class="ads__adtext">Декоративный кирпич для облицовки зданий от 11,35 руб. ГОСТ
							6133-99. Доставка. Скидки!</div>
					</div>
					<div class="ads__item">
						<a href="#" class="ads__adtitle">Клинкманн СПБ, ЗАО</a>
						<div class="ads__adtext">Кредиты на выгодных условиях. Без предоплат, предварительных
						взносов и по двум документам</div>
					</div>
					<div class="ads__item">
						<a href="#" class="ads__adtitle">Клинкманн СПБ, ЗАО</a>
						<div class="ads__adtext">В авторегистрие (ARK) экзаменационные автомобили "Toyota"</div>
					</div>
					<div class="ads__item">
						<a href="#" class="ads__adtitle">Клинкманн СПБ, ЗАО</a>
						<div class="ads__adtext">Декоративный кирпич для облицовки зданий от 11,35 руб. ГОСТ
							6133-99. Доставка. Скидки!</div>
					</div>
					<div class="ads__item">
						<a href="#" class="ads__adtitle">Клинкманн СПБ, ЗАО</a>
						<div class="ads__adtext">Сегодня по всему миру построены тысячи "пассивных"
						зданий. Директор проектного отделения компании "ИНсолар-Инвер" Виктор Горнов рассуждает
						о том, какие источники энергии</div>
					</div>
					<div class="ads__item">
						<a href="#" class="ads__adtitle">Клинкманн СПБ, ЗАО</a>
						<div class="ads__adtext">Декоративный кирпич для облицовки зданий от 11,35 руб. ГОСТ
							6133-99. Доставка. Скидки!</div>
					</div>
					<div class="ads__item">
						<a href="#" class="ads__adtitle">Клинкманн СПБ, ЗАО</a>
						<div class="ads__adtext">В авторегистрие (ARK) экзаменационные автомобили "Toyota" <span class="ads__adtext-ad ads__adtext-ad--hidden">и тут продолжение текста - спрятанный текст, который можно посмотреть, нажав на кнопку. Повторное нажатие на кнопку обратно спрячет данный текст</span></div>
						<a href="#" class="ads__read-more">подробнее</a>
					</div>
					<div class="ads__item">
						<a href="#" class="ads__adtitle">Клинкманн СПБ, ЗАО</a>
						<div class="ads__adtext">Сегодня по всему миру построены тысячи "пассивных"
						зданий. Директор проектного отделения компании "ИНсолар-Инвер" Виктор Горнов рассуждает
						о том, какие источники энергии</div>
					</div>
					<div class="ads__item">
						<a href="#" class="ads__adtitle">Клинкманн СПБ, ЗАО</a>
						<div class="ads__adtext">Декоративный кирпич для облицовки зданий от 11,35 руб. ГОСТ
							6133-99. Доставка. Скидки!</div>
					</div>
<div class="ads__item">
						<a href="#" class="ads__adtitle">Клинкманн СПБ, ЗАО</a>
						<div class="ads__adtext">Декоративный кирпич для облицовки зданий от 11,35 руб. ГОСТ
							6133-99. Доставка. Скидки!</div>
					</div>
					<div class="ads__item">
						<a href="#" class="ads__adtitle">Клинкманн СПБ, ЗАО</a>
						<div class="ads__adtext">Кредиты на выгодных условиях. Без предоплат, предварительных
						взносов и по двум документам</div>
					</div>
					<div class="ads__item">
						<a href="#" class="ads__adtitle">Клинкманн СПБ, ЗАО</a>
						<div class="ads__adtext">В авторегистрие (ARK) экзаменационные автомобили "Toyota"</div>
					</div>
					<div class="ads__item">
						<a href="#" class="ads__adtitle">Клинкманн СПБ, ЗАО</a>
						<div class="ads__adtext">Декоративный кирпич для облицовки зданий от 11,35 руб. ГОСТ
							6133-99. Доставка. Скидки!</div>
					</div>
					<div class="ads__item">
						<a href="#" class="ads__adtitle">Клинкманн СПБ, ЗАО</a>
						<div class="ads__adtext">Сегодня по всему миру построены тысячи "пассивных"
						зданий. Директор проектного отделения компании "ИНсолар-Инвер" Виктор Горнов рассуждает
						о том, какие источники энергии</div>
					</div>
					<div class="ads__item">
						<a href="#" class="ads__adtitle">Клинкманн СПБ, ЗАО</a>
						<div class="ads__adtext">Декоративный кирпич для облицовки зданий от 11,35 руб. ГОСТ
							6133-99. Доставка. Скидки!</div>
					</div>
					<div class="ads__item">
						<a href="#" class="ads__adtitle">Клинкманн СПБ, ЗАО</a>
						<div class="ads__adtext">В авторегистрие (ARK) экзаменационные автомобили "Toyota"</div>
						<a href="#" class="ads__read-more">подробнее</a>
					</div>
					<div class="ads__item">
						<a href="#" class="ads__adtitle">Клинкманн СПБ, ЗАО</a>
						<div class="ads__adtext">Сегодня по всему миру построены тысячи "пассивных"
						зданий. Директор проектного отделения компании "ИНсолар-Инвер" Виктор Горнов рассуждает
						о том, какие источники энергии</div>
					</div>
					<div class="ads__item">
						<a href="#" class="ads__adtitle">Клинкманн СПБ, ЗАО</a>
						<div class="ads__adtext">Декоративный кирпич для облицовки зданий от 11,35 руб. ГОСТ
							6133-99. Доставка. Скидки!</div>
					</div>

				</div>
			</div>
		</div>
	<?php endif; ?>

</div>
<?php unset($ads); unset($mode); ?>