<div class="all-companies <?= isset($type) ? 'all-companies--' . $type : ''; ?>">
	<div class="all-companies__header">Все компании</div>
	<div class="all-companies__list">
		<?php include "src/views/data/all-companies.data.php"; ?>

		<?php foreach ($companies as $c): ?>
			<div class="all-companies__item">
				<div class="all-companies__wrapper">
					<a href="#"><div class="all-companies__logo"><img src="<?= $c['logo'] ?>"></div></a>
					<a href="#" class="all-companies__title"><?= $c['title'] ?></a>
					<div class="all-companies__description"><?= $c['description'] ?></div>
				</div>
				<?php $preclass = "all-companies"; $inline=1; include "src/views/blocks/pills.phtml"; ?>
			</div>
		<?php endforeach; ?>
	</div>
</div>