<div class="archive">
	<div class="archive__group">
		<div class="archive__group-header">Строительство</div>
		<div class="archive__group-list">
			<div class="archive__group-item">
				<a href="#"><img src="<?= publicdir('images/journals/journal-1.png') ?>" class="archive__image"></a>
				<div class="archive__title">Бизнес для бизнеса</div>
				<div class="archive__download">
					<a href="#">Скачать спецвыпуск</a>
					<span>PDF, 190 КБ</span>
				</div>
			</div>
			<div class="archive__group-item">
				<a href="#"><img src="<?= publicdir('images/journals/journal-2.png') ?>" class="archive__image"></a>
				<div class="archive__title">Фармацевтика и медицина</div>
				<div class="archive__download">
					<a href="#">Скачать спецвыпуск</a>
					<span>PDF, 190 КБ</span>
				</div>
			</div>
			<div class="archive__group-item">
				<a href="#"><img src="<?= publicdir('images/journals/journal-3.png') ?>" class="archive__image"></a>
				<div class="archive__title">Строительство. Отделка интерьера</div>
				<div class="archive__download">
					<a href="#">Скачать спецвыпуск</a>
					<span>PDF, 190 КБ</span>
				</div>
			</div>
		</div>
	</div>

	<div class="archive__group">
		<div class="archive__group-header">Пищевая промышленность</div>
		<div class="archive__group-list">
			<div class="archive__group-item">
				<a href="#"><img src="<?= publicdir('images/journals/journal-5.png') ?>" class="archive__image"></a>
				<div class="archive__title">Бизнес для бизнеса</div>
				<div class="archive__download">
					<a href="#">Скачать спецвыпуск</a>
					<span>PDF, 190 КБ</span>
				</div>
			</div>
			<div class="archive__group-item">
				<a href="#"><img src="<?= publicdir('images/journals/journal-4.png') ?>" class="archive__image"></a>
				<div class="archive__title">Фармацевтика и медицина</div>
				<div class="archive__download">
					<a href="#">Скачать спецвыпуск</a>
					<span>PDF, 190 КБ</span>
				</div>
			</div>
		</div>
	</div>

	<div class="archive__group">
		<div class="archive__group-header">Фармацевтика</div>
		<div class="archive__group-text">Селекция бренда, не меняя концепции, изложенной выше, раскручивает клиентский спрос. Общество потребления раскручивает рекламный клаттер. Итак, ясно, что маркетинг однородно транслирует повторный контакт, учитывая результат предыдущих медиа-кампаний.</div>

		<div class="archive__group-list">
			<div class="archive__group-item">
				<a href="#"><img src="<?= publicdir('images/journals/journal-6.png') ?>" class="archive__image"></a>
				<div class="archive__title">Бизнес для бизнеса</div>
				<div class="archive__download">
					<a href="#">Скачать спецвыпуск</a>
					<span>PDF, 190 КБ</span>
				</div>
			</div>
			<div class="archive__group-item">
				<a href="#"><img src="<?= publicdir('images/journals/journal-7.png') ?>" class="archive__image"></a>
				<div class="archive__title">Фармацевтика и медицина</div>
				<div class="archive__download">
					<a href="#">Скачать спецвыпуск</a>
					<span>PDF, 190 КБ</span>
				</div>
			</div>
			<div class="archive__group-item">
				<a href="#"><img src="<?= publicdir('images/journals/journal-8.png') ?>" class="archive__image"></a>
				<div class="archive__title">Бизнес для бизнеса</div>
				<div class="archive__download">
					<a href="#">Скачать спецвыпуск</a>
					<span>PDF, 190 КБ</span>
				</div>
			</div>
			<div class="archive__group-item">
				<a href="#"><img src="<?= publicdir('images/journals/journal-9.png') ?>" class="archive__image"></a>
				<div class="archive__title">Фармацевтика и медицина</div>
				<div class="archive__download">
					<a href="#">Скачать спецвыпуск</a>
					<span>PDF, 190 КБ</span>
				</div>
			</div>
			<div class="archive__group-item">
				<a href="#"><img src="<?= publicdir('images/journals/journal-10.png') ?>" class="archive__image"></a>
				<div class="archive__title">Фармацевтика и медицина</div>
				<div class="archive__download">
					<a href="#">Скачать спецвыпуск</a>
					<span>PDF, 190 КБ</span>
				</div>
			</div>
		</div>
	</div>
</div>