<a href="#"><div class="banner <?= isset($type) ? 'banner--' . $type : 'banner--small' ?>">
	<img src="<?= publicdir( 'images/banners/' . (isset($type) ? $type : 'small') . '.png') ?>">
</div></a>
<?php unset($type); ?>