<?php if ($page !== 'index'): ?>
	<div class="breadcrumbs">
		<?php if (!isset($breadcrumbs)) $breadcrumbs = ['В2В24.CENTER', 'Главная']; ?>
			
		<?php foreach ($breadcrumbs as $i=>$b): ?>
			<?php $inactive = ( $i == count($breadcrumbs)-1 )  ? ' breadcrumbs__link--inactive' : ' '; ?>
			<?php $href = ( $i == count($breadcrumbs)-1 ) ? '' : 'href="#"'; ?>
			<a <?= $href ?> class="breadcrumbs__link<?= $inactive ?>"><?= $b ?></a>
			<?php if ( $i !== count($breadcrumbs)-1  ): ?>
				<span class="breadcrumbs__separator">/</span>
			<?php endif; ?>
		<?php endforeach; ?>
	</div>
	<?php unset($breadcrumbs); ?>
<?php endif; ?>