<div class="catalogue">
	<div class="catalogue__header">Каталог компаний</div>

	<div class="catalogue__list">

		<?php include "src/views/data/catalogue.data.php" ?>
		<?php foreach ($catalogue_items as $cat): ?>
			<div class="catalogue__item">
				<a href="#" class="catalogue__title"><?= $cat ?></a>
			</div>
		<?php endforeach; ?>

	</div>
</div>