<div class="company-pubs">
	<div class="company-pubs__header">
		<div class="company-pubs__logo"><img src="<?= publicdir('images/companies/1-large.png') ?>"></div>
		<div class="company-pubs__heading">Клинкманн СПБ, ЗАО</div>
		<div class="company-pubs__category"><a href="#">Строительство</a> / <a href="#">Адвокатские, Юридические, патентные услуги</a></div>

		<?php $preclass='company-pubs'; $inline=1; $active="pubs"; include "src/views/blocks/pills.phtml"; ?>
	</div>

	<?php $preclass="company-pubs__pubs pubs--no-company"; include "src/views/blocks/pubs.phtml"; ?>
</div>