<div class="company-news">
	<div class="company-news__header">
		<div class="company-news__logo"><img src="<?= publicdir('images/companies/1-large.png') ?>"></div>
		<div class="company-news__title">Клинкманн СПБ, ЗАО</div>
		<div class="company-news__category"><a href="#">Строительство</a> / <a href="#">Адвокатские, Юридические, патентные услуги</a></div>

		<?php $preclass='company-news'; $inline=1; $active="news"; include "src/views/blocks/pills.phtml"; ?>
	</div>

	<?php $preclass="company-news__news news--simple"; $simple=1; include "src/views/blocks/news.phtml"; ?>
</div>