<div class="company-contacts">
	<div class="company-contacts__header">
		<div class="company-contacts__logo"><img src="<?= publicdir('images/companies/1-large.png') ?>"></div>
		<div class="company-contacts__title">Клинкманн СПБ, ЗАО</div>
	</div>
	<div class="company-contacts__description">Зачастую на предприятии, в офисах или в торговом центре в пиковые режимы работы нагрузка электроустановки превышает допустимую контрактом величину. Разработка завода ABB SACE – воздушный автоматический выключатель Emax 2 - позволяет управлять<br>Зачастую на предприятии, в офисах или в торговом центре в пиковые режимы работы нагрузка электроустановки превышает допустимую контрактом величину. Разработка завода ABB SACE – воздушный автоматический выключатель Emax 2 - позволяет управлять</div>

	<a href="#" class="company-contacts__more" id="read_more">подробнее</a>
	<div class="company-contacts__activities">
		<div class="company-contacts__activities-title">Сфера деятельности компании</div>
		
		<div class="company-contacts__activity-wrapper">
			<a href="#" class="company-contacts__activity">Строительство</a>/<a href="#" class="company-contacts__activity">строительная химия</a>
		</div>
		<div class="company-contacts__activity-wrapper">
			<a href="#" class="company-contacts__activity">Строительство</a>/<a href="#" class="company-contacts__activity">проектирование зданий и сооружений</a>
		</div>
		<div class="company-contacts__activity-wrapper">
			<a href="#" class="company-contacts__activity">Склад, Транспорт, Логистика</a>/<a href="#" class="company-contacts__activity">Склады Временного Хранения</a>
		</div>
	</div>

	<div class="company-contacts__divider"></div>
	<div class="company-contacts__map map">
		<div class="map__header">Контакты</div>
		<div class="map__grid">
			<div class="map__block map__block--phone">
				<div class="map__label">Телефон</div>
				<div class="map__value">+7 (495) 783-21-97</div>
			</div>
			<div class="map__block map__block--email">
				<div class="map__label">Электронная почта</div>
				<div class="map__value"><a href="#">panov@inkosmos.ru</a></div>
				<div class="map__value"><a href="#">info@inkosmos.ru</a></div>
			</div>
			<div class="map__block map__block--address">
				<div class="map__label">Адрес</div>
				<div class="map__value">115563, Россия, Центральный округ,<br>
										г. Москва, ул. Борисовский проезд, д. 17, корп. 1, стр. 2</div>
			</div>
			<div class="map__block map__block--website">
				<div class="map__label">Сайт</div>
				<div class="map__value"><a href="#">http://www.inkosmos.ru</a></div>
			</div>
		</div>
		
		<div class="map__map" id="map"></div>
	</div>

	<?php $preclass="company-contacts"; $active="contacts"; include "src/views/blocks/pills.phtml"; ?>
</div>