<div class="company-ads ads">
	<div class="company-ads__header">
		<div class="company-ads__logo"><img src="<?= publicdir('images/companies/1-large.png') ?>"></div>
		<div class="company-ads__title">Клинкманн СПБ, ЗАО</div>
		<div class="company-ads__category"><a href="#">Строительство</a> / <a href="#">Адвокатские, Юридические, патентные услуги</a></div>

		<?php $preclass='company-ads'; $inline=1; $active="ads"; include "src/views/blocks/pills.phtml"; ?>
	</div>

	<?php $preclass="company-ads__ads ads--no-subheader"; include "src/views/blocks/ads.phtml"; ?>
</div>