<div class="expo">
	<div class="expo__header"><?= isset($header) ? $header : 'Выставки' ?></div>

	<?php if (isset($btn)): ?>
		<a href="#" class="expo__button">Разместить компанию</a>
	<?php endif; ?>

	<div class="expo__list">
		<?php include 'src/views/data/expo.data.php'; ?>
		<?php foreach ( $expo_items as $expo): ?>
			<div class="expo__item">
				<div class="expo__logo"><img src="<?= $expo['logo'] ?>"></div>
				<a href="#" class="expo__title"><?= $expo['title'] ?></a>

				<?php if ( !isset($short) ): ?>
					<div class="expo__date"><?= $expo['date'] ?></div>
					<div class="expo__description"><?= $expo['description'] ?></div>
				<?php endif; ?>

				<div class="expo__participants-header">Участники выставки</div>
				<div class="expo__participants-list">
					<?php foreach ($expo['participants'] as $expo_p): ?>
						<a href="#" class="expo__participant"><?= $expo_p ?></a>
					<?php endforeach; ?>
				</div>
				<a href="#" class="expo__more">все участники</a>
			</div>
		<?php endforeach; ?>

	</div>
</div>
<?php unset($header); unset($short); unset($btn); ?>