<div class="expo-lg <?= isset($preclass) ? $preclass : '' ?>">
	<div class="expo-lg__header">Новости выставок</div>

	<div class="expo-lg__feed">
		<div class="expo-lg__item">
			<div class="expo-lg__logo"><img src="<?= publicdir('images/expo/1.png') ?>"></div>
			<a href="#" class="expo-lg__title">Фактор коммуникации правомочен. К тому же привлечение аудитории порождает продвигаемый медиабизнес, осознав маркетинг как часть производства. </a>
			<a href="#" class="expo-lg__excerpt">Зачастую на предприятии, в офисах или в торговом центре в пиковые режимы работы нагрузка электроустановки превышает допустимую контрактом величину.</a>
			<div class="expo-lg__date">09 октября 2015, 18:12</div>
		</div>

		<div class="expo-lg__item">
			<div class="expo-lg__logo"><img src="<?= publicdir('images/expo/2.png') ?>"></div>
			<a href="#" class="expo-lg__title">Стало известно, как с карт клиентов российских банков пропадали деньги.</a>
			<a href="#" class="expo-lg__excerpt">Фокус-группа однородно обуславливает потребительский бизнес-план. Визуализация концепии требовальна к креативу.</a>
			<div class="expo-lg__date">09 октября 2015, 18:12</div>
		</div>
		<div class="expo-lg__item">
			<div class="expo-lg__logo"><img src="<?= publicdir('images/expo/1.png') ?>"></div>
			<a href="#" class="expo-lg__title">Фактор коммуникации правомочен. К тому же привлечение аудитории порождает продвигаемый медиабизнес, осознав маркетинг как часть производства. </a>
			<a href="#" class="expo-lg__excerpt">Зачастую на предприятии, в офисах или в торговом центре в пиковые режимы работы нагрузка электроустановки превышает допустимую контрактом величину.</a>
			<div class="expo-lg__date">09 октября 2015, 18:12</div>
		</div>

		<div class="expo-lg__item">
			<div class="expo-lg__logo"><img src="<?= publicdir('images/expo/3.png') ?>"></div>
			<a href="#" class="expo-lg__title">Стало известно, как с карт клиентов российских банков пропадали деньги.</a>
			<a href="#" class="expo-lg__excerpt">Фокус-группа однородно обуславливает потребительский бизнес-план. Визуализация концепии требовальна к креативу.</a>
			<div class="expo-lg__date">09 октября 2015, 18:12</div>
		</div>
		<div class="expo-lg__item">
			<div class="expo-lg__logo"><img src="<?= publicdir('images/expo/2.png') ?>"></div>
			<a href="#" class="expo-lg__title">Фактор коммуникации правомочен. К тому же привлечение аудитории порождает продвигаемый медиабизнес, осознав маркетинг как часть производства. </a>
			<a href="#" class="expo-lg__excerpt">Зачастую на предприятии, в офисах или в торговом центре в пиковые режимы работы нагрузка электроустановки превышает допустимую контрактом величину.</a>
			<div class="expo-lg__date">09 октября 2015, 18:12</div>
		</div>

		<div class="expo-lg__item">
			<div class="expo-lg__logo"><img src="<?= publicdir('images/expo/3.png') ?>"></div>
			<a href="#" class="expo-lg__title">Стало известно, как с карт клиентов российских банков пропадали деньги.</a>
			<a href="#" class="expo-lg__excerpt">Фокус-группа однородно обуславливает потребительский бизнес-план. Визуализация концепии требовальна к креативу.</a>
			<div class="expo-lg__date">09 октября 2015, 18:12</div>
		</div>

	</div>

</div>
<?php unset($preclass); ?>