<div class="login-form">
	<form class="login-form__form" id="login_form">
		<div class="login-form__header">Войти в личный кабинет</div>
		<a href="#" class="login-form__forgot-pwd">Забыли пароль?</a>

		<div class="login-form__row">
			<label class="login-form__label" for="login">Учетная запись</label>
			<input class="login-form__input" value="" name="login" id="login" required>
		</div>

		<div class="login-form__row">
			<label class="login-form__label" for="password">Пароль</label>
			<input class="login-form__input" type="password" value="" name="password" id="password" required>
		</div>

		<div class="login-form__row login-form__row--without-labels">
			<a href="#" class="login-form__button login-form__button--gray">Зарегистрироваться</a>
			<input class="login-form__button" type="submit" value="Войти" name="signin">
		</div>
	</form>
</div>