<div class="logo-bar <?= isset($logo_header) && $logo_header ? 'logo-bar--is-heading' : '' ?>">
	<a href="/?page=index" class="logo-bar__logo"><img src="<?= publicdir('images/logo.png') ?>"></a>
	<div class="logo-bar__menu">
		<div class="logo-bar__menu-item logo-bar__menu-item--construction">
			<a href="#" class="logo-bar__menu-link">Строительство</a>
		</div>
		<div class="logo-bar__menu-item logo-bar__menu-item--medicine">
			<a href="#" class="logo-bar__menu-link">Медицина и фармацевтика</a>
			<div class="logo-bar__submenu">
				<div class="logo-bar__submenu-title">Медицина и фармацевтика</div>
				<a href="#" class="logo-bar__submenu-link"><span>Каталог компаний</span></a>
				<a href="#" class="logo-bar__submenu-link"><span>Публикации</span></a>
				<a href="#" class="logo-bar__submenu-link"><span>Новости компаний</span></a>
				<a href="#" class="logo-bar__submenu-link"><span>Объявления</span></a>
				<a href="#" class="logo-bar__submenu-link"><span>Выставки</span></a>
			</div>
		</div>
		<div class="logo-bar__menu-item logo-bar__menu-item--transport">
			<a href="#" class="logo-bar__menu-link">Склад, транспорт, логистика</a>
		</div>
		<div class="logo-bar__menu-item logo-bar__menu-item--food">
			<a href="#" class="logo-bar__menu-link">Пищевая промышленность</a>
		</div>
		<div class="logo-bar__menu-item logo-bar__menu-item--attorney">
			<a href="#" class="logo-bar__menu-link">Адвокатские, юридические, патентные услуги</a>
		</div>
		<div class="logo-bar__menu-item logo-bar__menu-item--host">
			<a href="#" class="logo-bar__menu-link">Индустрия гостеприимства (HORECA)</a>
		</div>
		<div class="logo-bar__menu-item logo-bar__menu-item--audit">
			<a href="#" class="logo-bar__menu-link">Аудиторские, бухгалтерские услуги</a>
		</div>
	</div>
	<div class="logo-bar__header">
		<?= isset($logo_header) ? $logo_header : ""; unset($logo_header); ?>
	</div>
</div>
<div class="divider"></div>