<div class="magazine">
	<div class="magazine__header">Журнал «Бизнес-столицы»</div>
	<div class="magazine__wrapper">
		<a href="#" class="magazine__download">
			<div class="magazine__title">Скачать последний спецвыпуск</div>
			<div class="magazine__details">PDF, 190 КБ</div>	
		</a>
		<a href="#" class="magazine__all">Все спецвыпуски</a>
	</div>
</div>