<div class="new-companies">
	<div class="new-companies__header">Новые компании</div>

	<div class="new-companies__list">
		<?php include "src/views/data/new-companies.data.php"; ?>
		<?php foreach ($new_companies as $C): ?>
			<div class="new-companies__item">
				<a href="#" class="new-companies__logo"><img src="<?= $C['logo'] ?>"></a>
				<div class="new-companies__description">
					<a href="#" class="new-companies__title"><?= $C['title'] ?></a>
					<div class="new-companies__categories">
						<?php $ncat = count($C['category']); ?>
						<?php foreach ($C['category'] as $i=>$cat): ?>
							<a href="#" class="new-companies__cat"><?= $cat ?></a>
							<?php if ($i < $ncat-1):  ?>
								<span class="new-companies__cat-divider">&nbsp;/&nbsp;</span>
							<?php endif; ?>
						<?php endforeach; ?>
					</div>						
				</div>
			</div>
		<?php endforeach; ?>
	</div>
	<a href="#" class="new-companies__button">Разместить компанию</a>
</div>