<div class="news news--no-logo">
	<div class="news__read-also">Читайте также:</div>
	<div class="news__feed">
		<div class="news__item">
			<a href="#" class="news__company">Электромаш</a>
			<a href="#" class="news__title h3">Стало известно, как с карт клиентов российских
			банков пропадали деньги</a>
			<a href="#" class="news__excerpt">Зачастую на предприятии, в офисах или в торговом центре в пиковые режимы работы нагрузка электроустановки превышает допустимую контрактом величину. Разработка завода ABB SACE – воздушный автоматический выключатель Emax 2 - позволяет управлять энергопотреблением автоматически, избегая лишних трудозатрат и человеческих ошибок. О работе инновационного устройства рассказывает Денис Кошкарев
			</a>
			<div class="news__date">09 октября 2015, 18:12</div>
		</div>

		<div class="news__item">
			<a href="#" class="news__company">Электромаш</a>
			<a href="#" class="news__title h3">Стало известно, как с карт клиентов российских
			банков пропадали деньги</a>
			<a href="#" class="news__excerpt">Фокус-группа однородно обуславливает потребительский бизнес-план.
			Визуализация концепции требовательна к креативу.
			</a>
			<div class="news__date">09 октября 2015, 18:12</div>
		</div>

		<div class="news__item">
			<a href="#" class="news__company">Электромаш</a>
			<a href="#" class="news__title h3">Стало известно, как с карт клиентов российских
			банков пропадали деньги</a>
			<a href="#" class="news__excerpt">Зачастую на предприятии, в офисах или в торговом центре в пиковые режимы работы нагрузка электроустановки превышает допустимую контрактом величину. Разработка завода ABB SACE – воздушный автоматический выключатель Emax 2 - позволяет управлять энергопотреблением автоматически, избегая лишних трудозатрат и человеческих ошибок. О работе инновационного устройства рассказывает Денис Кошкарев
			</a>
			<div class="news__date">09 октября 2015, 18:12</div>
		</div>

		<div class="news__item">
			<a href="#" class="news__company">Электромаш</a>
			<a href="#" class="news__title h3">Стало известно, как с карт клиентов российских
			банков пропадали деньги</a>
			<a href="#" class="news__excerpt">Фокус-группа однородно обуславливает потребительский бизнес-план.
			Визуализация концепции требовательна к креативу.
			</a>
			<div class="news__date">09 октября 2015, 18:12</div>
		</div>
	</div>

</div>
