<?php include "src/views/data/news-carousel.data.php" ?>
<?php if ( !( isset($news_carousel_type) && ($news_carousel_type == 'none') ) ): ?>
<div class="news-carousel 
	<?php if ( isset($news_carousel_type) && ($news_carousel_type == 'short') ): ?>
		news-carousel--short
	<?php elseif ( isset($news_carousel_type) && ($news_carousel_type == 'without-subcat') ): ?>
		news-carousel--without-subcat
	<?php endif; unset($news_carousel_type); ?>
	">
	<div class="news-carousel__list" id="news_carousel">

		<?php foreach($news_carousel_items as $news): ?>
			<div class="news-carousel__item">
				<a href="#" class="news-carousel__cat"><?= $news['cat'] ?></a>
				<a href="#" class="news-carousel__subcat"><?= $news['subcat'] ?></a>
				<div class="news-carousel__preview">
					<a href="#"><img src="<?= $news['image'] ?>" class="news-carousel__image"></a>
					<a href="#" class="news-carousel__company"><?= $news['company'] ?></a>
					<a href="#" class="news-carousel__title"><?= $news['title'] ?></a>
					<a href="#" class="news-carousel__excerpt"><?= $news['excerpt'] ?></a>
				</div>
				<a href="#" class="news-carousel__link-short"><?= $news['title'] ?></a>
			</div>
		<?php endforeach; ?>

	</div>
</div>
<?php endif; ?>