<div class="news <?= isset($preclass) ? $preclass : '' ?> <?= (isset($mode) && $mode=='full') ? 'news--full' : '' ?>">
	
	<?php if ( isset($mode) && $mode == 'full'): ?>
		<div class="news__header">Новости</div>
		<div class="news__rubrics">
			<div class="news__rubrics-label">Отраслевой рубрикатор</div>
			<select class="news__rubrics-select">
				<option value="0">все рубрики</option>
				<option value="1">рубрика 1</option>
				<option value="2">рубрика 2</option>
			</select>
		</div>
	<?php endif; ?>
	
	<div class="news__feed">
		<div class="news__item">
			<div class="news__logo"><img src="<?= publicdir('images/companies/1-large.png') ?>"></div>
			<?php if (isset($simple) && $simple): ?><div class="news__date">09 октября 2015, 18:12</div><?php endif; ?>
			<a href="#" class="news__company">Электромаш</a>
			<a href="#" class="news__title">Стало известно, как с карт клиентов российских
			банков пропадали деньги</a>
			<a href="#" class="news__excerpt">Зачастую на предприятии, в офисах или в торговом центре в пиковые режимы работы нагрузка электроустановки превышает допустимую контрактом величину. Разработка завода ABB SACE – воздушный автоматический выключатель Emax 2 - позволяет управлять энергопотреблением автоматически, избегая лишних трудозатрат и человеческих ошибок. О работе инновационного устройства рассказывает Денис Кошкарев
			</a>
			<?php if (!(isset($simple) && $simple)): ?><div class="news__date">09 октября 2015, 18:12</div><?php endif; ?>
		</div>

		<div class="news__item">
			<div class="news__logo"><img src="<?= publicdir('images/companies/2-large.png') ?>"></div>
			<?php if (isset($simple) && $simple): ?><div class="news__date">09 октября 2015, 18:12</div><?php endif; ?>
			<a href="#" class="news__company">Электромаш</a>
			<a href="#" class="news__title">Стало известно, как с карт клиентов российских
			банков пропадали деньги</a>
			<a href="#" class="news__excerpt">Фокус-группа однородно обуславливает потребительский бизнес-план.
			Визуализация концепции требовательна к креативу.
			</a>
			<?php if (!(isset($simple) && $simple)): ?><div class="news__date">09 октября 2015, 18:12</div><?php endif; ?>
		</div>

		<div class="news__item">
			<div class="news__logo"><img src="<?= publicdir('images/companies/3-large.png') ?>"></div>
			<?php if (isset($simple) && $simple): ?><div class="news__date">09 октября 2015, 18:12</div><?php endif; ?>
			<a href="#" class="news__company">Электромаш</a>
			<a href="#" class="news__title">Стало известно, как с карт клиентов российских
			банков пропадали деньги</a>
			<a href="#" class="news__excerpt">Зачастую на предприятии, в офисах или в торговом центре в пиковые режимы работы нагрузка электроустановки превышает допустимую контрактом величину. Разработка завода ABB SACE – воздушный автоматический выключатель Emax 2 - позволяет управлять энергопотреблением автоматически, избегая лишних трудозатрат и человеческих ошибок. О работе инновационного устройства рассказывает Денис Кошкарев
			</a>
			<?php if (!(isset($simple) && $simple)): ?><div class="news__date">09 октября 2015, 18:12</div><?php endif; ?>
		</div>

		<div class="news__item">
			<div class="news__logo"><img src="<?= publicdir('images/companies/4-large.png') ?>"></div>
			<?php if (isset($simple) && $simple): ?><div class="news__date">09 октября 2015, 18:12</div><?php endif; ?>
			<a href="#" class="news__company">Электромаш</a>
			<a href="#" class="news__title">Стало известно, как с карт клиентов российских
			банков пропадали деньги</a>
			<a href="#" class="news__excerpt">Фокус-группа однородно обуславливает потребительский бизнес-план.
			Визуализация концепции требовательна к креативу.
			</a>
			<?php if (!(isset($simple) && $simple)): ?><div class="news__date">09 октября 2015, 18:12</div><?php endif; ?>
		</div>

		<div class="news__item">
			<div class="news__logo"><img src="<?= publicdir('images/companies/1-large.png') ?>"></div>
			<?php if (isset($simple) && $simple): ?><div class="news__date">09 октября 2015, 18:12</div><?php endif; ?>
			<a href="#" class="news__company">Электромаш</a>
			<a href="#" class="news__title">Стало известно, как с карт клиентов российских
			банков пропадали деньги</a>
			<a href="#" class="news__excerpt">Зачастую на предприятии, в офисах или в торговом центре в пиковые режимы работы нагрузка электроустановки превышает допустимую контрактом величину. Разработка завода ABB SACE – воздушный автоматический выключатель Emax 2 - позволяет управлять энергопотреблением автоматически, избегая лишних трудозатрат и человеческих ошибок. О работе инновационного устройства рассказывает Денис Кошкарев
			</a>
			<?php if (!(isset($simple) && $simple)): ?><div class="news__date">09 октября 2015, 18:12</div><?php endif; ?>
		</div>

		<div class="news__item">
			<div class="news__logo"><img src="<?= publicdir('images/companies/2-large.png') ?>"></div>
			<?php if (isset($simple) && $simple): ?><div class="news__date">09 октября 2015, 18:12</div><?php endif; ?>
			<a href="#" class="news__company">Электромаш</a>
			<a href="#" class="news__title">Стало известно, как с карт клиентов российских
			банков пропадали деньги</a>
			<a href="#" class="news__excerpt">Фокус-группа однородно обуславливает потребительский бизнес-план.
			Визуализация концепции требовательна к креативу.
			</a>
			<?php if (!(isset($simple) && $simple)): ?><div class="news__date">09 октября 2015, 18:12</div><?php endif; ?>
		</div>

		<div class="news__item">
			<div class="news__logo"><img src="<?= publicdir('images/companies/3-large.png') ?>"></div>
			<?php if (isset($simple) && $simple): ?><div class="news__date">09 октября 2015, 18:12</div><?php endif; ?>
			<a href="#" class="news__company">Электромаш</a>
			<a href="#" class="news__title">Стало известно, как с карт клиентов российских
			банков пропадали деньги</a>
			<a href="#" class="news__excerpt">Зачастую на предприятии, в офисах или в торговом центре в пиковые режимы работы нагрузка электроустановки превышает допустимую контрактом величину. Разработка завода ABB SACE – воздушный автоматический выключатель Emax 2 - позволяет управлять энергопотреблением автоматически, избегая лишних трудозатрат и человеческих ошибок. О работе инновационного устройства рассказывает Денис Кошкарев
			</a>
			<?php if (!(isset($simple) && $simple)): ?><div class="news__date">09 октября 2015, 18:12</div><?php endif; ?>
		</div>

		<div class="news__item">
			<div class="news__logo"><img src="<?= publicdir('images/companies/4-large.png') ?>"></div>
			<?php if (isset($simple) && $simple): ?><div class="news__date">09 октября 2015, 18:12</div><?php endif; ?>
			<a href="#" class="news__company">Электромаш</a>
			<a href="#" class="news__title">Стало известно, как с карт клиентов российских
			банков пропадали деньги</a>
			<a href="#" class="news__excerpt">Фокус-группа однородно обуславливает потребительский бизнес-план.
			Визуализация концепции требовательна к креативу.
			</a>
			<?php if (!(isset($simple) && $simple)): ?><div class="news__date">09 октября 2015, 18:12</div><?php endif; ?>
		</div>

		<div class="news__item">
			<div class="news__logo"><img src="<?= publicdir('images/companies/1-large.png') ?>"></div>
			<?php if (isset($simple) && $simple): ?><div class="news__date">09 октября 2015, 18:12</div><?php endif; ?>
			<a href="#" class="news__company">Электромаш</a>
			<a href="#" class="news__title">Стало известно, как с карт клиентов российских
			банков пропадали деньги</a>
			<a href="#" class="news__excerpt">Зачастую на предприятии, в офисах или в торговом центре в пиковые режимы работы нагрузка электроустановки превышает допустимую контрактом величину. Разработка завода ABB SACE – воздушный автоматический выключатель Emax 2 - позволяет управлять энергопотреблением автоматически, избегая лишних трудозатрат и человеческих ошибок. О работе инновационного устройства рассказывает Денис Кошкарев
			</a>
			<?php if (!(isset($simple) && $simple)): ?><div class="news__date">09 октября 2015, 18:12</div><?php endif; ?>
		</div>

		<div class="news__item">
			<div class="news__logo"><img src="<?= publicdir('images/companies/2-large.png') ?>"></div>
			<?php if (isset($simple) && $simple): ?><div class="news__date">09 октября 2015, 18:12</div><?php endif; ?>
			<a href="#" class="news__company">Электромаш</a>
			<a href="#" class="news__title">Стало известно, как с карт клиентов российских
			банков пропадали деньги</a>
			<a href="#" class="news__excerpt">Фокус-группа однородно обуславливает потребительский бизнес-план.
			Визуализация концепции требовательна к креативу.
			</a>
			<?php if (!(isset($simple) && $simple)): ?><div class="news__date">09 октября 2015, 18:12</div><?php endif; ?>
		</div>

	</div>

</div>
<?php unset($simple); unset($preclass); unset($mode); unset($no_logo); ?>