<div class="pagination">
	<div class="pagination__list">
		<a href="#" class="pagination__link pagination__link--active">1</a>
		<a href="#" class="pagination__link">2</a>
		<a href="#" class="pagination__link">3</a>
		<div class="pagination__dots"></div>
		<a href="#" class="pagination__link">25</a>
	</div>
</div>