<div class="<?= isset($preclass) ? $preclass . '__pills' : '' ?> pills
	<?= (isset($inline) && $inline) ? ' pills--in-line' : '' ?>">
	<a href="/?page=05_company" class="pills__pill <?= (isset($active) && ($active == 'contacts')) ? 'pills__pill--active' : '' ?>">
		<span class="pills__label">Контакты</span>
	</a>
	<a href="/?page=06_companyNews" class="pills__pill <?= (isset($active) && ($active == 'news')) ? 'pills__pill--active' : '' ?>">
		<span class="pills__label">Новости</span>
		<span class="pills__count">(10)</span>
	</a>
	<a href="/?page=09_publications" class="pills__pill <?= (isset($active) && ($active == 'pubs')) ? 'pills__pill--active' : '' ?>">
		<span class="pills__label">Публикации</span>
		<span class="pills__count">(20)</span>
	</a>
	<a href="/?page=07_ad" class="pills__pill <?= (isset($active) && ($active == 'ads')) ? 'pills__pill--active' : '' ?>">
		<span class="pills__label">Объявления</span>
		<span class="pills__count">(5)</span>
	</a>
</div>
<?php unset($active); unset($preclass); unset($inline); ?>