<div class="promos">
	<div class="promos__header">
		Объявления
		<a href="#" class="promos__subheader">Все</a>
	</div>

	<?php include "src/views/data/promos.data.php"; ?>

	<div class="promos__list">
		<div class="promos__list-header">
			ПРОДАМ
			<a href="#" class="promos__list-subheader">Все</a></div>
		<?php foreach ($promos as $p): ?>
			<div class="promos__item">
				<a href="#" class="promos__title"><?= $p['title'] ?></a>
				<a href="#" class="promos__link"><div class="promos__text"><?= $p['text'] ?></div></a>
			</div>
		<?php endforeach; ?>
	</div>

	<div class="promos__list">
		<div class="promos__list-header">
			КУПЛЮ
			<a href="#" class="promos__list-subheader">Все</a>
		</div>
		<?php foreach ($promos as $p): ?>
			<div class="promos__item">
				<a href="#" class="promos__title"><?= $p['title'] ?></a>
				<a href="#" class="promos__link"><div class="promos__text"><?= $p['text'] ?></div></a>
			</div>
		<?php endforeach; ?>
	</div>

	<div class="promos__list">
		<div class="promos__list-header">
			УСЛУГИ
			<a href="#" class="promos__list-subheader">Все</a>
		</div>
		<?php foreach ($promos as $p): ?>
			<div class="promos__item">
				<a href="#" class="promos__title"><?= $p['title'] ?></a>
				<a href="#" class="promos__link"><div class="promos__text"><?= $p['text'] ?></div></a>
			</div>
		<?php endforeach; ?>
	</div>

</div>