<div class="pubgrid">
	<div class="pubgrid__header">
		<?= isset($pub_header) ? $pub_header : "Строительство"; ?>
		<a href="#" class="pubgrid__subheader"><?= isset($no_subheader) ? '' : 'Все публикации' ?></a>
	</div>
	<div class="pubgrid__list">

		<?php include "src/views/data/pubgrid.data.php"; ?>
		<?php $pubgrid = isset($pub_id) ? $pubgrid[$pub_id] : $pubgrid[0]; ?>
		<?php foreach ($pubgrid as $pub): ?>
			<div class="pubgrid__item">
				<div class="pubgrid__image"><img src="<?= $pub['image'] ?>"></div>
				<a href="#" class="pubgrid__title"><?= $pub['title'] ?></a>
				<a href="#" class="pubgrid__subtitle"><?= $pub['subtitle'] ?></a>
				<div class="pubgrid__excerpt"><?= $pub['excerpt'] ?></div>
			</div>
		<?php endforeach; ?>
	</div>
</div>
<?php unset($pub_header); unset($pub_id); unset($no_subheader); ?>