<div class="pubs <?= isset($preclass) ? $preclass : '' ?>">
	<div class="pubs__feed">
		<div class="pubs__item">
			<a href="#" class="pubs__image"><img src="<?= publicdir('images/news/1.png') ?>"></a>
			<div class="pubs__date">09 октября 2015, 18:12</div>

			<a href="#" class="pubs__company">Амарил</a>
			<a href="#" class="pubs__title">Пассивность - признак энергоэффективности</a>
			<a href="#" class="pubs__excerpt">Зачастую на предприятии, в офисах или в торговом центре в пиковые режимы работы нагрузка электроустановки превышает допустимую контрактом величину. Разработка завода ABB SACE – воздушный автоматический выключатель Emax 2 - позволяет управлять энергопотреблением автоматически, избегая лишних трудозатрат и человеческих ошибок. О работе инновационного устройства рассказывает Денис Кошкарев</a>
		</div>

		<div class="pubs__item">
			<a href="#" class="pubs__image"><img src="<?= publicdir('images/news/2.png') ?>"></a>
			<div class="pubs__date">09 октября 2015, 18:12</div>

			<a href="#" class="pubs__company">Абразив урал</a>
			<a href="#" class="pubs__title">Связующее звено в строительстве</a>
			<a href="#" class="pubs__excerpt">До недавнего времени считалось, что промоакция переворачивает показ баннера. До недавнего времени считалось, что общество потребления индуцирует эксклюзивный имидж предприятия, полагаясь на инсайдерскую информацию. </a>
		</div>

		<div class="pubs__item">
			<a href="#" class="pubs__image"><img src="<?= publicdir('images/news/3.png') ?>"></a>
			<div class="pubs__date">09 октября 2015, 18:12</div>

			<a href="#" class="pubs__company">Амарил</a>
			<a href="#" class="pubs__title">Пассивность - признак энергоэффективности</a>
			<a href="#" class="pubs__excerpt">Зачастую на предприятии, в офисах или в торговом центре в пиковые режимы работы нагрузка электроустановки превышает допустимую контрактом величину. Разработка завода ABB SACE – воздушный автоматический выключатель Emax 2 - позволяет управлять энергопотреблением автоматически, избегая лишних трудозатрат и человеческих ошибок. О работе инновационного устройства рассказывает Денис Кошкарев</a>
		</div>

		<div class="pubs__item">
			<a href="#" class="pubs__image"><img src="<?= publicdir('images/news/4.png') ?>"></a>
			<div class="pubs__date">09 октября 2015, 18:12</div>

			<a href="#" class="pubs__company">Абразив урал</a>
			<a href="#" class="pubs__title">Связующее звено в строительстве</a>
			<a href="#" class="pubs__excerpt">До недавнего времени считалось, что промоакция переворачивает показ баннера. До недавнего времени считалось, что общество потребления индуцирует эксклюзивный имидж предприятия, полагаясь на инсайдерскую информацию. </a>
		</div>

		<div class="pubs__item">
			<a href="#" class="pubs__image"><img src="<?= publicdir('images/news/1.png') ?>"></a>
			<div class="pubs__date">09 октября 2015, 18:12</div>

			<a href="#" class="pubs__company">Амарил</a>
			<a href="#" class="pubs__title">Пассивность - признак энергоэффективности</a>
			<a href="#" class="pubs__excerpt">Зачастую на предприятии, в офисах или в торговом центре в пиковые режимы работы нагрузка электроустановки превышает допустимую контрактом величину. Разработка завода ABB SACE – воздушный автоматический выключатель Emax 2 - позволяет управлять энергопотреблением автоматически, избегая лишних трудозатрат и человеческих ошибок. О работе инновационного устройства рассказывает Денис Кошкарев</a>
		</div>

		<div class="pubs__item">
			<a href="#" class="pubs__image"><img src="<?= publicdir('images/news/2.png') ?>"></a>
			<div class="pubs__date">09 октября 2015, 18:12</div>

			<a href="#" class="pubs__company">Абразив урал</a>
			<a href="#" class="pubs__title">Связующее звено в строительстве</a>
			<a href="#" class="pubs__excerpt">До недавнего времени считалось, что промоакция переворачивает показ баннера. До недавнего времени считалось, что общество потребления индуцирует эксклюзивный имидж предприятия, полагаясь на инсайдерскую информацию. </a>
		</div>

		<div class="pubs__item">
			<a href="#" class="pubs__image"><img src="<?= publicdir('images/news/3.png') ?>"></a>
			<div class="pubs__date">09 октября 2015, 18:12</div>

			<a href="#" class="pubs__company">Амарил</a>
			<a href="#" class="pubs__title">Пассивность - признак энергоэффективности</a>
			<a href="#" class="pubs__excerpt">Зачастую на предприятии, в офисах или в торговом центре в пиковые режимы работы нагрузка электроустановки превышает допустимую контрактом величину. Разработка завода ABB SACE – воздушный автоматический выключатель Emax 2 - позволяет управлять энергопотреблением автоматически, избегая лишних трудозатрат и человеческих ошибок. О работе инновационного устройства рассказывает Денис Кошкарев</a>
		</div>

		<div class="pubs__item">
			<a href="#" class="pubs__image"><img src="<?= publicdir('images/news/4.png') ?>"></a>
			<div class="pubs__date">09 октября 2015, 18:12</div>

			<a href="#" class="pubs__company">Абразив урал</a>
			<a href="#" class="pubs__title">Связующее звено в строительстве</a>
			<a href="#" class="pubs__excerpt">До недавнего времени считалось, что промоакция переворачивает показ баннера. До недавнего времени считалось, что общество потребления индуцирует эксклюзивный имидж предприятия, полагаясь на инсайдерскую информацию. </a>
		</div>
	</div>
</div>
<?php unset($preclass); ?>