<div class="quote-of-day">
	<div class="quote-of-day__header">Цитата дня</div>
	<div class="quote-of-day__content">« Сегодня на заседании правительства Москвы принят пакет нормативных актов »</div>
	<div class="quote-of-day__author">
		<div class="quote-of-day__avatar"><img src="<?= publicdir('images/quote-avatar-1.png') ?>"></div>
		<div class="quote-of-day__name">Елизавета Васильева</div>
		<div class="quote-of-day__status">Директора ООО «Русский север»</div>
	</div>
</div>