<div class="rubrics">
	<div class="rubrics__header">Cветопрозрачные противопожарные конструкции и противопожарное остекление</div>
	<div class="rubrics__list">
		<a href="/?page=10_allNews" class="rubrics__link <?= ( isset($rubric_id) && ($rubric_id==1) ) ? 'rubrics__link--active' : '' ?>">Все новости рубрики</a>
		<a href="/?page=12_publications" class="rubrics__link <?= ( isset($rubric_id) && ($rubric_id==2) ) ? 'rubrics__link--active' : '' ?>">Все публикации рубрики</a>
		<a href="/?page=11_allAds" class="rubrics__link <?= ( isset($rubric_id) && ($rubric_id==3) ) ? 'rubrics__link--active' : '' ?>">Все объявления рубрики</a>
	</div>
</div>