<div class="sidemenu">
	<div class="sidemenu__item">
		<a href="#" class="sidemenu__link">Каталог компаний</a>
		<div class="sidemenu__submenu">
			<a href="#" class="sidemenu__sublink"><span>Строительство</span></a>
			<a href="#" class="sidemenu__sublink"><span>Медицина и фармацевтика</span></a>
			<a href="#" class="sidemenu__sublink"><span>Склад, Транспорт, логистика</span></a>
			<a href="#" class="sidemenu__sublink"><span>Пищевая промышленность</span></a>
			<a href="#" class="sidemenu__sublink"><span>Адвокатские, юридические, патентные услуги</span></a>
			<a href="#" class="sidemenu__sublink"><span>Индустрия гостеприимства (Horeca)</span></a>
			<a href="#" class="sidemenu__sublink"><span>Аудиторские, бухгалтерские услуги</span></a>
		</div>
	</div>
	<div class="sidemenu__item">
		<a href="#" class="sidemenu__link">Публикации</a>
	</div>
	<div class="sidemenu__item">
		<a href="#" class="sidemenu__link">Новости компаний</a>
	</div>
	<div class="sidemenu__item">
		<a href="#" class="sidemenu__link">Объявления</a>
	</div>
	<div class="sidemenu__item">
		<a href="#" class="sidemenu__link">Выставки</a>
	</div>
</div>