<div class="sidebarnews">
	<div class="sidebarnews__header">Лента новостей</div>
	<div class="sidebarnews__list">

		<?php include "src/views/data/sidebarnews.data.php" ?>
		<?php foreach ($sidebarnews_items as $news): ?>
			<div class="sidebarnews__item">
				<a href="#" class="sidebarnews__cat"><?= $news['cat'] ?></a>
				<a href="#" class="sidebarnews__title"><?= $news['title'] ?></a>
				<div class="sidebarnews__date"><?= $news['date'] ?></div>
			</div>
		<?php endforeach; ?>

	</div>
</div>