<div class="top-nav">
	<div class="top-nav__menu">
		<a href="#" class="top-nav__menu-item">О портале</a>
		<a href="#" class="top-nav__menu-item">Возможности для компании</a>
		<a href="#" class="top-nav__menu-item">Разместить компанию</a>
		<a href="#" class="top-nav__menu-item">Личный кабинет</a>
	</div>

	<div class="top-nav__currency dropdown dropdown--currency">
		<a href="#" id="dropdown_currency" class="dropdown__link-wrapper">
			<div class="dropdown__icon0"></div>
		</a>
		<div class="dropdown__list-container currency">
			<div class="currency__row">
				<a href="#" class="currency__item">
					<span class="currency__label">$</span>
					<span class="currency__value currency__value--down">53.21</span>
				</a>
				<a href="#" class="currency__item">
					<span class="currency__label">€</span>
					<span class="currency__value currency__value--up">58.21</span>
				</a>	
			</div>
			<div class="currency__row">
				<a href="#" class="currency__item">
					<span class="currency__label">BRENT $</span>
					<span class="currency__value">52.21</span>
				</a>
				<a href="#" class="currency__item">
					<span class="currency__label">RTS</span>
					<span class="currency__value">1005.21</span>
				</a>
			</div>
		</div>
	</div>

	<div class="top-nav__social dropdown dropdown--social">
		<a href="#" id="dropdown_select" class="dropdown__link-wrapper"><div class="dropdown__icon0"></div></a>
		<div class="dropdown__list-container">
			<a href="#" class="dropdown__link"><span class="dropdown__icon dropdown__icon--fb"></span>Facebook</a>
			<a href="#" class="dropdown__link"><span class="dropdown__icon dropdown__icon--in"></span>LinkedIn</a>
			<a href="#" class="dropdown__link"><span class="dropdown__icon dropdown__icon--p"></span>Профессионалы</a>
			<a href="#" class="dropdown__link"><span class="dropdown__icon dropdown__icon--vk"></span>вКонтакте</a>
		</div>
	</div>

	<div class="top-nav__search top-search">
		<form class="top-search__form">
			<input class="top-search__input" placeholder="ПОИСК" name="query">
			<select class="top-search__select" name="where">
				<option value="0">Все отрасли</option>
				<option value="1">Отрасль 1</option>
				<option value="2">Отрасль 2</option>
			</select>
			<input type="submit" class="top-search__submit" name="submit">
		</form>
	</div>
</div>