<div class="top-companies">
	<div class="top-companies__header">ТОП-10 Компаний портала</div>

	<?php include "src/views/data/top-companies.data.php"; ?>
	<div class="top-companies__list">
		<?php foreach ($top_companies as $C): ?>
			<div class="top-companies__item">
				<a href="#" class="top-companies__logo"><img src="<?= $C['logo'] ?>"></a>
				<div class="top-companies__description">
					<a href="#" class="top-companies__title"><?= $C['title'] ?></a>
					<div class="top-companies__categories">
						<?php $ncat = count($C['category']); ?>
						<?php foreach ($C['category'] as $i=>$cat): ?>
							<a href="#" class="top-companies__cat"><?= $cat ?></a>
							<?php if ($i < $ncat-1):  ?>
								<span class="top-companies__cat-divider">&nbsp;/&nbsp;</span>
							<?php endif; ?>
						<?php endforeach; ?>
					</div>			
				</div>
			</div>
		<?php endforeach; ?>
	</div>
</div>